In [2]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

# QUESTION 1 WIKIPEDIA OF MOST VIEWED VIDEOS

In [2]:
driver=webdriver.Chrome(r'D:\flip robo\chromedriver_win32\chromedriver.exe')

In [3]:
url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [4]:
from selenium.webdriver.common.by import By

rank_tag=driver.find_elements(By.XPATH,'//table[2][@class="wikitable sortable jquery-tablesorter"]//td[1]')
rank=[]
for i in rank_tag4:
       rank.append(i.text)
rank

In [126]:
rank_tag=driver.find_elements(By.XPATH,'//table[2][@class="wikitable sortable jquery-tablesorter"]//td[1]')
rank=[]
for i in rank_tag:
    rank.append(i.text)
rank[:5]

['1.', '2.', '3.', '4.', '5.']

In [127]:
name_tag=driver.find_elements(By.XPATH,'//table[2][@class="wikitable sortable jquery-tablesorter"]//td[2]')
name=[]
for i in name_tag:
    name.append(i.text)
name[:5]

['"Baby Shark Dance"[4]',
 '"Despacito"[7]',
 '"Johny Johny Yes Papa"[14]',
 '"Bath Song"[15]',
 '"Shape of You"[16]']

In [128]:
artist_tag=driver.find_elements(By.XPATH,'//table[2][@class="wikitable sortable jquery-tablesorter"]//td[3]')
artist=[]
for i in artist_tag:
    artist.append(i.text)
artist[:5]

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 'LooLoo Kids',
 'Cocomelon ‚Äì Nursery Rhymes',
 'Ed Sheeran']

In [129]:
view_tag=driver.find_elements(By.XPATH,'//table[2][@class="wikitable sortable jquery-tablesorter"]//td[4]')
view=[]
for i in view_tag:
    view.append(i.text)
view[:5]

['12.55', '8.11', '6.66', '6.08', '5.95']

In [130]:
date_tag=driver.find_elements(By.XPATH,'//table[2][@class="wikitable sortable jquery-tablesorter"]//td[5]')
date=[]
for i in date_tag:
    date.append(i.text)
date[:5]

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'May 2, 2018',
 'January 30, 2017']

In [123]:
df=pd.DataFrame()

In [124]:
df['RANK']=rank
df['NAME']=name
df['ARTIST']=artist
df['VIEWS']=view
df['DATE']=date

In [125]:
df

,RANK,NAME,ARTIST,VIEWS,DATE
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,12.55,"June 17, 2016"
1,2.,"""Despacito""[7]",Luis Fonsi,8.11,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,6.66,"October 8, 2016"
3,4.,"""Bath Song""[15]",Cocomelon ‚Äì Nursery Rhymes,6.08,"May 2, 2018"
4,5.,"""Shape of You""[16]",Ed Sheeran,5.95,"January 30, 2017"
5,6.,"""See You Again""[18]",Wiz Khalifa,5.82,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,5.22,"March 6, 2014"
7,8.,"""Wheels on the Bus""[24]",Cocomelon ‚Äì Nursery Rhymes,5.04,"May 24, 2018"
8,9.,"""Uptown Funk""[25]",Mark Ronson,4.87,"November 19, 2014"
9,10.,"""Learning Colors ‚Äì Colorful Eggs on a Farm""[26]",Miroshka TV,4.86,"February 27, 2018"
10,11.,"""Gangnam Style""[27]",Psy,4.73,"July 15, 2012"
11,12.,"""Masha and the Bear ‚Äì Recipe for Disaster""[32]",Get Movies,4.54,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[33]",El Chombo,4.28,"April 5, 2018"
13,14.,"""Sugar""[34]",Maroon 5,3.84,"January 14, 2015"
14,15.,"""Axel F""[35]",Crazy Frog,3.82,"June 16, 2009"
15,16.,"""Roar""[36]",Katy Perry,3.76,"September 5, 2013"
16,17.,"""Counting Stars""[37]",OneRepublic,3.75,"May 31, 2013"
17,18.,"""Sorry""[38]",Justin Bieber,3.64,"October 22, 2015"
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,3.57,"October 7, 2014"
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon ‚Äì Nursery Rhymes,3.56,"June 25, 2018"
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,3.52,"June 4, 2010"
21,22.,"""Dark Horse""[42]",Katy Perry,3.48,"February 20, 2014"
22,23.,"""Faded""[43]",Alan Walker,3.42,"December 3, 2015"
23,24.,"""Let Her Go""[44]",Passenger,3.40,"July 25, 2012"
24,25.,"""Perfect""[45]",Ed Sheeran,3.40,"November 9, 2017"
25,26.,"""Girls Like You""[46]",Maroon 5,3.39,"May 31, 2018"
26,27.,"""Lakdi Ki Kathi""[47]",Jingle Toons,3.37,"June 14, 2018"
27,28.,"""Bailando""[48]",Enrique Iglesias,3.35,"April 11, 2014"
28,29.,"""Lean On""[49]",Major Lazer,3.35,"March 22, 2015"
29,30.,"""Humpty the train on a fruits ride""[50]",Kiddiestv Hindi ‚Äì Nursery Rhymes & Kids Songs,3.34,"January 26, 2018"

# QUESTION 2  BCCI.TV

In [131]:
driver=webdriver.Chrome(r'D:\flip robo\chromedriver_win32\chromedriver.exe')

In [132]:
url="http://www.bcci.tv/"
driver.get(url)

In [133]:
from selenium.webdriver.common.by import By

No fixure is available on the website i have raise the ticket,sir had ask to skip the question

# QUESTION 3  guru99.com

In [30]:
driver=webdriver.Chrome(r'D:\flip robo\chromedriver_win32\chromedriver.exe')

In [31]:
url="http://www.guru99.com/"
driver.get(url)

In [32]:
from selenium.webdriver.common.by import By

In [33]:
selenium_page=driver.find_element(By.XPATH,'/html/body/footer/div/div[1]/div/div/div/div/div/div/section/div/div/div[2]/div/div/div/div/div[2]/div/div/div[2]/div/div[2]/div/div/div[3]/div/div/div[2]/div/div/a/div[2]/h5')
selenium_page.click()

In [34]:
exception_Page=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a')
exception_Page.click()

In [35]:
alldata_tag=driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]')

In [36]:
alldata_tag

In [37]:

alldata_tag2=driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]//p')
nam=[]
for i in alldata_tag2:
    nam.append(i.text.split(':'))
name2=nam[2:44]

In [38]:
name2[:5]

[['1. ElementNotVisibleException',
  ' This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.'],
 ['2. ElementNotSelectableException',
  ' This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.'],
 ['3. NoSuchElementException',
  ' This Exception occurs if an element could not be found.'],
 ['4. NoSuchFrameException',
  ' This Exception occurs if the frame target to be switched to does not exist.'],
 ['5. NoAlertPresentException',
  ' This Exception occurs when you switch to no presented alert.']]

# QUESTION 4 STATE WISE GDP OF INDIA

In [260]:
driver=webdriver.Chrome(r'D:\flip robo\chromedriver_win32\chromedriver.exe')

In [261]:
url="http://statisticstimes.com/"
driver.get(url)

In [262]:
from selenium.webdriver.common.by import By

In [263]:
economybtn=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economybtn.click()

In [264]:
indiapage=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
indiapage.click()

In [265]:
gdppage=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdppage.click()

In [275]:
rank_tag=driver.find_elements(By.XPATH,'//td[@class="data1"]')
rank=[]
for i in rank_tag:
    rank.append(i.text)
rank[:5]

['1', '2', '3', '4', '5']

In [292]:
rank1=rank[:32]

In [276]:
state_tag=driver.find_elements(By.XPATH,'//td[@class="name"]')
state=[]
for i in state_tag:
    state.append(i.text)
state[:5]

['Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Gujarat', 'Karnataka']

In [293]:
state1=state[:32]

In [280]:
gsdp_tag1=driver.find_elements(By.XPATH,'//td[3][@class="data"]')
gsdp1920=[]
for i in gsdp_tag1:
    gsdp1920.append(i.text)
gsdp1920[:5]

['-', '1,845,853', '1,687,818', '-', '1,631,977']

In [296]:
gsdp19_20=gsdp1920[:32]

In [282]:
gsdp_tag2=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
gsdp1819=[]
for i in gsdp_tag2:
    gsdp1819.append(i.text)
gsdp1819[:5]

['2,632,792', '1,630,208', '1,584,764', '1,502,899', '1,493,127']

In [297]:
gsdp18_19=gsdp1819[:32]

In [285]:
share_tag=driver.find_elements(By.XPATH,'//td[5][@class="data"]')
share=[]
for i in share_tag:
    share.append(i.text)
share[:5]

['13.94%', '8.63%', '8.39%', '7.96%', '7.91%']

In [298]:
share1=share[:32]

In [287]:
gdp_tag=driver.find_elements(By.XPATH,'//td[6][@class="data"]')
gdp=[]
for i in gdp_tag:
    gdp.append(i.text)
gdp[:5]

['399.921', '247.629', '240.726', '228.290', '226.806']

In [299]:
gdp1=gdp[:32]

In [300]:
df=pd.DataFrame()

In [301]:
df["RANK"]=rank1
df["STATE"]=state1
df["GSDP1920"]=gsdp19_20
df["GSDP1819"]=gsdp18_19
df["SHARE"]=share1
df["GDP"]=gdp1

In [302]:
df

   RANK              STATE   GSDP1920   GSDP1819   SHARE      GDP
0     1        Maharashtra          -  2,632,792  13.94%  399.921
1     2         Tamil Nadu  1,845,853  1,630,208   8.63%  247.629
2     3      Uttar Pradesh  1,687,818  1,584,764   8.39%  240.726
3     4            Gujarat          -  1,502,899   7.96%  228.290
4     5          Karnataka  1,631,977  1,493,127   7.91%  226.806
5     6        West Bengal  1,253,832  1,089,898   5.77%  165.556
6     7          Rajasthan  1,020,989    942,586   4.99%  143.179
7     8     Andhra Pradesh    972,782    862,957   4.57%  131.083
8     9          Telangana    969,604    861,031   4.56%  130.791
9    10     Madhya Pradesh    906,672    809,592   4.29%  122.977
10   11             Kerala          -    781,653   4.14%  118.733
11   12              Delhi    856,112    774,870   4.10%  117.703
12   13            Haryana    831,610    734,163   3.89%  111.519
13   14              Bihar    611,804    530,363   2.81%   80.562
14   15             Punjab    574,760    526,376   2.79%   79.957
15   16             Odisha    521,275    487,805   2.58%   74.098
16   17              Assam          -    315,881   1.67%   47.982
17   18       Chhattisgarh    329,180    304,063   1.61%   46.187
18   19          Jharkhand    328,598    297,204   1.57%   45.145
19   20        Uttarakhand          -    245,895   1.30%   37.351
20   21    Jammu & Kashmir          -    155,956   0.83%   23.690
21   22   Himachal Pradesh    165,472    153,845   0.81%   23.369
22   23                Goa     80,449     73,170   0.39%   11.115
23   24            Tripura     55,984     49,845   0.26%    7.571
24   25         Chandigarh          -     42,114   0.22%    6.397
25   26         Puducherry     38,253     34,433   0.18%    5.230
26   27          Meghalaya     36,572     33,481   0.18%    5.086
27   28             Sikkim     32,496     28,723   0.15%    4.363
28   29            Manipur     31,790     27,870   0.15%    4.233
29   30           Nagaland          -     27,283   0.14%    4.144
30   31  Arunachal Pradesh          -     24,603   0.13%    3.737
31   32            Mizoram     26,503     22,287   0.12%    3.385

# QUESTION 5 GITHUB

In [46]:
driver=webdriver.Chrome(r'D:\flip robo\chromedriver_win32\chromedriver.exe')

In [47]:
url="https://github.com/"
driver.get(url)

In [48]:
from selenium.webdriver.common.by import By

In [49]:
opensource=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
opensource.click()

In [50]:
trending_tag=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
trending_tag.click()

In [51]:
repository_title=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]/a')
title=[]
for i in repository_title:
    title.append(i.text)
title[:5]

['IDEA-Research / Grounded-Segment-Anything',
 'reworkd / AgentGPT',
 'vinta / awesome-python',
 'sdatkinson / neural-amp-modeler',
 'baaivision / Painter']

In [52]:
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [53]:
description=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
descript=[]
for i in description:
    descript.append(i.text)
descript[:5]

['Marrying Grounding DINO with Segment Anything & Stable Diffusion & BLIP & Whisper - Automatically Detect , Segment and Generate Anything with Image, Text, and Speech Inputs',
 'ü§ñ Assemble, configure, and deploy autonomous AI Agents in your browser.',
 'A curated list of awesome Python frameworks, libraries, software and resources',
 'Neural network emulator for guitar amplifiers.',
 'Painter & SegGPT Series: Vision Foundation Models from BAAI']

In [54]:
descript.insert(3,'--')

In [55]:
descript.insert(24,'--')

In [56]:
descript[:-5]

['Marrying Grounding DINO with Segment Anything & Stable Diffusion & BLIP & Whisper - Automatically Detect , Segment and Generate Anything with Image, Text, and Speech Inputs',
 'ü§ñ Assemble, configure, and deploy autonomous AI Agents in your browser.',
 'A curated list of awesome Python frameworks, libraries, software and resources',
 '--',
 'Neural network emulator for guitar amplifiers.',
 'Painter & SegGPT Series: Vision Foundation Models from BAAI',
 'gpt4all chatbot ui',
 'An open source application built using the new router, server components and everything new in Next.js 13.',
 'ÈóªËææÔºö‰∏Ä‰∏™LLMË∞ÉÁî®Âπ≥Âè∞„ÄÇÊó®Âú®ÈÄöËøá‰ΩøÁî®‰∏∫Â∞èÊ®°ÂûãÂ§ñÊåÇÁü•ËØÜÂ∫ìÊü•ÊâæÁöÑÊñπÂºèÔºåÂú®‰∏çËÉΩÊ∂åÁé∞ÁöÑÂâçÊèê‰∏ãÂÆûÁé∞Ëøë‰ºº‰∫éÂ§ßÊ®°ÂûãÁöÑÁîüÊàêËÉΩÂäõ',
 'ü•£ AIGC ÊèêÁ§∫ËØçÂèØËßÜÂåñÁºñËæëÂô®',
 'ÔºàCVPR 2023ÔºâSadTalkerÔºöLearning Realistic 3D Motion Coefficients for Stylized Audio-Driven Single Image Talking Face Animation',
 'A gradio web UI for running Large Language Models like LLaMA, llama.cpp, GPT-J, Pythia, OPT, and GALACTICA.',
 'This codebase is for an React and Electron-based app that executes the FreedomGPT LLM locally (offline and private) on Mac and Windows using a chat-based interface (based on Alpaca Lora)',
 'üß† A curated list of awesome ChatGPT resources, including libraries, SDKs, APIs, and more. üåü Please consider supporting this project by giving it a star.',
 'the open source embedding database',
 'The official implementation of "Grounding DINO: Marrying DINO with Grounded Pre-Training for Open-Set Object Detection"',
 'ChatGLM-6BÔºöÂºÄÊ∫êÂèåËØ≠ÂØπËØùËØ≠Ë®ÄÊ®°Âûã | An Open Bilingual Dialogue Language Model',
 'C++ÈÇ£‰∫õ‰∫ã',
 'This roadmap contains 16 Chapters that can be completed in 8 months, whether you are a fresher in the field or an experienced professional who wants to transition into Data Science.']

In [57]:
len(descript)

24

In [101]:
language=[]
lang_tag=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in lang_tag:
    language.append(i.text)

In [102]:
language[:5]

['Jupyter Notebook', 'Python', 'Python', 'Python', 'Rust']

In [103]:
df=pd.DataFrame()

In [104]:

df["REPOSITORY TITLE"]=title
df["DESCRIPTION"]=descript
df["LANGUAGE"]=language

In [105]:
df

,REPOSITORY TITLE,DESCRIPTION,LANGUAGE
0,IDEA-Research / Grounded-Segment-Anything,Marrying Grounding DINO with Segment Anything ...,Jupyter Notebook
1,oobabooga / text-generation-webui,A gradio web UI for running Large Language Mod...,Python
2,chroma-core / chroma,the open source embedding database,Python
3,vinta / awesome-python,--,Python
4,facebook / buck2,"A curated list of awesome Python frameworks, l...",Rust
5,trekhleb / javascript-algorithms,"Build system, successor to Buck",JavaScript
6,Instruction-Tuning-with-GPT-4 / GPT-4-LLM,üìù Algorithms and data structures implemented i...,HTML
7,Moonvy / OpenPromptStudio,ü•£ AIGC ÊèêÁ§∫ËØçÂèØËßÜÂåñÁºñËæëÂô®,Vue
8,yoheinakajima / babyagi,Arroyo is a distributed stream processing engi...,Python
9,ArroyoSystems / arroyo,WebUI extension for ControlNet,Rust
10,Mikubill / sd-webui-controlnet,General-purpose programming language and toolc...,Python
11,ziglang / zig,Python - 100Â§©‰ªéÊñ∞ÊâãÂà∞Â§ßÂ∏à,Zig
12,jackfrued / Python-100-Days,Train transformer language models with reinfor...,Python
13,lvwerra / trl,"üîç A Hex Editor for Reverse Engineers, Programm...",Python
14,WerWolv / ImHex,OpenAssistant is a chat-based assistant that u...,C++
15,LAION-AI / Open-Assistant,Python bindings for llama.cpp,Python
16,abetlen / llama-cpp-python,Have a conversation with files ÔΩú‰∏é‰Ω†ÁöÑÊñá‰ª∂ÂØπËØù,Python
17,guangzhengli / ChatFiles,Python training for business analysts and traders,TypeScript
18,jpmorganchase / python-training,gpt4all chatbot ui,Jupyter Notebook
19,nomic-ai / gpt4all-ui,ChatRWKV is like ChatGPT but powered by RWKV (...,Python
20,BlinkDL / ChatRWKV,Everything required to run your own Base node,Python
21,base-org / node,Singing Voice Conversion via diffusion model,Shell
22,prophesier / diff-svc,ÔºàCVPR 2023ÔºâSadTalkerÔºöLearning Realistic 3D Mot...,Jupyter Notebook
23,Winfredy / SadTalker,Desktop application of new Bing's AI-powered c...,Python
24,dice2o / BingGPT,--,JavaScript

# question 6 https://www.billboard.com/

In [3]:
driver=webdriver.Chrome(r'D:\flip robo\chromedriver_win32\chromedriver.exe')

In [4]:
url="https://www.billboard.com/"
driver.get(url)

In [5]:
from selenium.webdriver.common.by import By

In [16]:
tabledetail=[]
Song_name=[]
Artist_name=[]
Lastweek_rank=[]
Peak_rank=[]
Weekson_board=[]
tabledetail_tag=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]')
for i in tabledetail_tag:
    tabledetail.append(i.text)
    Song_name.append(i.text.split('\n')[0])
    Artist_name.append(i.text.split('\n')[1])
    Lastweek_rank.append(i.text.split('\n')[2])
    Peak_rank.append(i.text.split('\n')[3])
    Weekson_board.append(i.text.split('\n')[4])
    
tabledetail[:5]

['Like Crazy\nJimin\n-\n1\n1',
 'Flowers\nMiley Cyrus\n1\n1\n11',
 'Last Night\nMorgan Wallen\n2\n1\n9',
 'Kill Bill\nSZA\n3\n2\n16',
 "Creepin'\nMetro Boomin, The Weeknd & 21 Savage\n4\n3\n17"]

In [7]:
tabledetail_tag=driver.find_element(By.XPATH,'//li[@class="lrv-u-width-100p"]')

In [8]:
tabledetail_tag

In [19]:
Weekson_board[:5]

['1', '11', '9', '16', '17']

In [20]:
Artist_name[:5]

['Jimin',
 'Miley Cyrus',
 'Morgan Wallen',
 'SZA',
 'Metro Boomin, The Weeknd & 21 Savage']

In [21]:
df=pd.DataFrame()

In [22]:
df["Song name"]=Song_name
df["Artist name"]=Artist_name
df["Last week rank"]=Lastweek_rank
df["Peak rank"]=Peak_rank
df["Weeks on board"]=Weekson_board

In [23]:
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Like Crazy,Jimin,-,1,1
1,Flowers,Miley Cyrus,1,1,11
2,Last Night,Morgan Wallen,2,1,9
3,Kill Bill,SZA,3,2,16
4,Creepin',"Metro Boomin, The Weeknd & 21 Savage",4,3,17
...,...,...,...,...,...
95,Eat Your Young,Hozier,67,67,2
96,Ch y La Pizza,Fuerza Regida X Natanael Cano,-,97,1
97,Whiskey Friends,Morgan Wallen,80,35,4
98,Moonlight,Kali Uchis,92,92,2
99,Memory Lane,Old Dominion,-,100,1

# Question 7 naukri.com

In [38]:
driver=webdriver.Chrome(r'D:\flip robo\chromedriver_win32\chromedriver.exe')

In [39]:
url="https://www.naukri.com/hr-recruiters-consultants"
driver.get(url)

In [40]:
from selenium.webdriver.common.by import By

In [44]:
search_tag=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
search_tag.send_keys('Data Science')

In [46]:
search_button=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
search_button.click()

In [69]:
detail=[]
name=[]
designation=[]
company=[]
location=[]
detail_tag=driver.find_elements(By.XPATH,'//p[@class="highlightable"]')
for i in detail_tag:
    detail.append(i.text)
    name.append(i.text.split('\n')[0])
    designation.append(i.text.split('\n')[1])
    company.append(i.text.split('\n')[2])
try:
    location_tag=driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
    for i in location_tag:
        location.append(i.text)
except NoSuchElementException:
    location.append('-')

In [74]:
name.index('Sunil Vedula')

30

In [76]:
location.insert(30,'--')

In [77]:
skill=[]
skill_tag=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
for i in skill_tag:
    skill.append(i.text)
skill[:5]

['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional',
 '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software',
 'Data Science, Artificial Intelligence, Machine Learning, Business Analytics, Deep Learning, statistics, Data Analytics, Data Analysis, support vector machine',
 'Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws',
 'Hadoop, Spark, Digital Strategy, Data Architecture, Command Center, Cdp, Dmp, Kafka, Data Science, Data Analysis, Big Data Analytics, Real Time Analysis, SQL']

In [79]:
df=pd.DataFrame()

In [80]:
df["NAME"]=name
df["DESIGNATION"]=designation
df["COMPANY"]=company
df["LOCATION"]=location
df["SKILL"]=skill

In [82]:
df[:5]

,NAME,DESIGNATION,COMPANY,LOCATION,SKILL
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."

# QUESTION 8 http://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-

In [3]:
driver=webdriver.Chrome(r'D:\flip robo\chromedriver_win32\chromedriver.exe')

In [4]:
url="http://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)

In [5]:
from selenium.webdriver.common.by import By

In [12]:
table=[]
rank=[]
book_name=[]
author_name=[]
volumes_sold=[]
publisher=[]
genre=[]
table_tag=driver.find_elements(By.XPATH,'//tbody/tr')
for i in table_tag:
    table.append(i.text)
table
book_tag=driver.find_elements(By.XPATH,'//tbody/tr/td[2]')
for i in book_tag:
    book_name.append(i.text)
author_tag=driver.find_elements(By.XPATH,'//tbody/tr/td[3]')
for i in author_tag:
    author_name.append(i.text)
volumesold_tag=driver.find_elements(By.XPATH,'//tbody/tr/td[4]')
for i in volumesold_tag:
    volumes_sold.append(i.text)
publisher_tag=driver.find_elements(By.XPATH,'//tbody/tr/td[5]')
for i in publisher_tag:
    publisher.append(i.text)
genre_tag=driver.find_elements(By.XPATH,'//tbody/tr/td[6]')
for i in genre_tag:
    genre.append(i.text)

In [14]:
book_name[:5]

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey']

In [15]:
author_name[:5]

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.']

In [16]:
volumes_sold[:5]

['5,094,805', '4,475,152', '4,200,654', '4,179,479', '3,758,936']

In [17]:
publisher[:5]

['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Random House']

In [18]:
genre[:5]

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas']

In [19]:
df=pd.DataFrame()

In [20]:
df["BOOK NAME"]=book_name
df["AUTHOR NAME"]=author_name
df["VOLUME SOLD"]=volumes_sold
df["PUBLISHER"]=publisher
df["GENRE"]=genre

In [21]:
df

,BOOK NAME,AUTHOR NAME,VOLUME SOLD,PUBLISHER,GENRE
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# QUESTION 9 imdb

In [39]:
driver=webdriver.Chrome(r'D:\flip robo\chromedriver_win32\chromedriver.exe')

In [40]:
url="http://www.imdb.com/list/ls095964455/"
driver.get(url)

In [41]:
from selenium.webdriver.common.by import By

In [42]:
tabledetail1=[]
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

tabledetail_tag1=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]')
for i in tabledetail_tag1:
    tabledetail1.append(i.text)
    Name.append(i.text.split('\n')[0].split('(')[0])
    Year_span.append(i.text.split('\n')[0].split('(')[1])
    Genre.append(i.text.split('\n')[1].split('|')[2])
    Ratings.append(i.text.split('\n')[2])
    Run_time.append(i.text.split('\n')[1].split('|')[1])
    Votes.append(i.text.split('\n')[6].split(':')[1])
tabledetail1[:5]

['1. Game of Thrones (2011‚Äì2019)\nTV-MA | 57 min | Action, Adventure, Drama\n9.2\nRate\nNine noble families fight for control over the lands of Westeros, while an ancient enemy returns after being dormant for millennia.\nStars: Emilia Clarke, Peter Dinklage, Kit Harington, Lena Headey\nVotes: 2,147,880',
 '2. Stranger Things (2016‚Äì2024)\nTV-14 | 51 min | Drama, Fantasy, Horror\n8.7\nRate\nWhen a young boy disappears, his mother, a police chief and his friends must confront terrifying supernatural forces in order to get him back.\nStars: Millie Bobby Brown, Finn Wolfhard, Winona Ryder, David Harbour\nVotes: 1,230,990\nWatch on Netflix\nwith subscription',
 '3. The Walking Dead (2010‚Äì2022)\nTV-MA | 44 min | Drama, Horror, Thriller\n8.1\nRate\nSheriff Deputy Rick Grimes wakes up from a coma to learn the world is in ruins and must lead a group of survivors to stay alive.\nStars: Andrew Lincoln, Norman Reedus, Melissa McBride, Lauren Cohan\nVotes: 1,020,010',
 '4. 13 Reasons Why (2017‚Äì2020)\nTV-MA | 60 min | Drama, Mystery, Thriller\n7.5\nRate\nFollows teenager Clay Jensen, in his quest to uncover the story behind his classmate and crush, Hannah, and her decision to end her life.\nStars: Dylan Minnette, Katherine Langford, Christian Navarro, Alisha Boe\nVotes: 300,363',
 "5. The 100 (2014‚Äì2020)\nTV-14 | 43 min | Drama, Mystery, Sci-Fi\n7.6\nRate\nSet 97 years after a nuclear war destroyed civilization, when a spaceship housing humanity's lone survivors sends 100 juvenile delinquents back to Earth, hoping to repopulate the planet.\nStars: Eliza Taylor, Bob Morley, Marie Avgeropoulos, Isaiah Washington\nVotes: 259,180"]

In [43]:
df=pd.DataFrame()

In [44]:
df["NAME"]=Name

df["YEAR"]=Year_span
df["GENRE"]=Genre


df["RUN TIME"]=Run_time
df["RATING"]=Ratings
df["VOTE"]=Votes

In [45]:
df

,NAME,YEAR,GENRE,RUN TIME,RATING,VOTE
0,1. Game of Thrones,2011‚Äì2019),"Action, Adventure, Drama",57 min,9.2,"2,147,880"
1,2. Stranger Things,2016‚Äì2024),"Drama, Fantasy, Horror",51 min,8.7,"1,230,990"
2,3. The Walking Dead,2010‚Äì2022),"Drama, Horror, Thriller",44 min,8.1,"1,020,010"
3,4. 13 Reasons Why,2017‚Äì2020),"Drama, Mystery, Thriller",60 min,7.5,"300,363"
4,5. The 100,2014‚Äì2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"259,180"
...,...,...,...,...,...,...
95,96. Reign,2013‚Äì2017),Drama,42 min,7.4,"51,258"
96,97. A Series of Unfortunate Events,2017‚Äì2019),"Adventure, Comedy, Drama",50 min,7.8,"63,268"
97,98. Criminal Minds,2005‚Äì ),"Crime, Drama, Mystery",42 min,8.1,"206,177"
98,99. Scream: The TV Series,2015‚Äì2019),"Comedy, Crime, Drama",45 min,7,"42,783"
99,100. The Haunting of Hill House,2018),"Drama, Horror, Mystery",572 min,8.6,"255,413"

# QUESTION 10 https://archive.ics.uci.edu/

In [33]:
driver=webdriver.Chrome(r'D:\flip robo\chromedriver_win32\chromedriver.exe')

In [34]:
url="https://archive.ics.uci.edu/"
driver.get(url)

In [35]:
from selenium.webdriver.common.by import By

In [36]:
viewall_page=driver.find_element(By.XPATH,'//b[contains(text(),"View ALL Data Sets")]')
viewall_page.click()

In [37]:
tablename1=[]
tablename=[]
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]
tablename_tag=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr')
for i in tablename_tag:
    tablename1.append(i.text)
    Dataset_name.append(i.text.split('\n')[0])
    Data_type.append(i.text.split('\n')[1])
tablename1[:5]

['Name\nData Types\nDefault Task\nAttribute Types\n# Instances\n# Attributes\nYear',
 '  Abalone\nMultivariate \nClassification \nCategorical, Integer, Real \n4177 \n8 \n1995 ',
 '  Adult\nMultivariate \nClassification \nCategorical, Integer \n48842 \n14 \n1996 ',
 '  Annealing\nMultivariate \nClassification \nCategorical, Integer, Real \n798 \n38 \n ',
 '  Anonymous Microsoft Web Data\n  Recommender-Systems \nCategorical \n37711 \n294 \n1998 ']

In [38]:
Dataset_name[:5]

['Name',
 '  Abalone',
 '  Adult',
 '  Annealing',
 '  Anonymous Microsoft Web Data']

In [39]:
Data_type[:5]

['Data Types',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 '  Recommender-Systems ']

In [40]:
default_task=driver.find_elements(By.XPATH,'//tbody/tr/td[3]/p[1]')
for i in default_task:
    Task.append(i.text)
lastelement=Task.pop()
Task[:5]

['Default Task',
 'Classification ',
 'Classification ',
 'Classification ',
 'Recommender-Systems ']

In [41]:
attribute_type=driver.find_elements(By.XPATH,'//tbody/tr/td[4]/p[1]')
for i in attribute_type:
    Attribute_type.append(i.text)
Attribute_type[:5]

['Attribute Types',
 'Categorical, Integer, Real ',
 'Categorical, Integer ',
 'Categorical, Integer, Real ',
 'Categorical ']

In [42]:
instances_tag=driver.find_elements(By.XPATH,'//tbody/tr/td[5]/p[1]')
for i in instances_tag:
    No_of_instances.append(i.text)
No_of_instances[:5]

['# Instances', '4177 ', '48842 ', '798 ', '37711 ']

In [43]:
attribute_tag=driver.find_elements(By.XPATH,'//tbody/tr/td[6]/p[1]')
for i in attribute_tag:
    No_of_attribute.append(i.text)
No_of_attribute[:5]

['# Attributes', '8 ', '14 ', '38 ', '294 ']

In [44]:
year_tag=driver.find_elements(By.XPATH,'//tbody/tr/td[7]/p[1]')
for i in year_tag:
    Year.append(i.text)
Year[:5]

['Year', '1995 ', '1996 ', ' ', '1998 ']

In [45]:
df=pd.DataFrame()

In [46]:
df["DATA SET"]=Dataset_name
df["DATA TYPE"]=Data_type
df["TASK"]=Task
df["ATTRIBUTE TYPE"]=Attribute_type
df["NO OF INSTANCES"]=No_of_instances
df["NO OF ATTRIBUTE"]=No_of_attribute
df["YEAR"]=Year

In [47]:
df

,DATA SET,DATA TYPE,TASK,ATTRIBUTE TYPE,NO OF INSTANCES,NO OF ATTRIBUTE,YEAR
0,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,Recommender-Systems,Recommender-Systems,Categorical,37711,294,1998
...,...,...,...,...,...,...,...
618,Influenza outbreak event prediction via Twit...,Multivariate,Classification,"Integer, Real",75840,525,2020
619,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
620,Maternal Health Risk Data Set,Classification,Classification,,1014,7,2020
621,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
622,Image Recognition Task Execution Times in Mo...,Univariate,Regression,Real,4000,2,2021