# Data Analyst

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [4]:
driver=webdriver.Chrome('chromedriver.exe')

In [5]:
url="https://www.naukri.com/"
driver.get(url)

In [6]:
from selenium.webdriver.common.by import By

In [7]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job

In [9]:
search_job.send_keys("Data analyst")

In [10]:
search_locn=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_locn

In [11]:
search_locn.send_keys("Bangalore")

In [12]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn

In [13]:
search_btn.click()

In [14]:
title_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')

In [15]:
job_title=[]
for i in title_tag:
    job_title.append(i.text)

In [17]:
job_title[:10]

['Sr.Business Data Analyst',
 'Sr Data Analyst',
 'Senior Data Analysis Analyst',
 'Data Analyst',
 'Data Analyst/Senior Data Analyst',
 'Financial Data Analyst',
 'Data Analyst II',
 'Senior Data Analyst II',
 'Senior Data Management Analyst',
 'Data Analyst - CRM Platform']

In [33]:
locn_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [34]:
job_locn=[]
for i in locn_tag:
    job_locn.append(i.text)

In [36]:
job_locn[:10]

['Bangalore/Bengaluru, karnataka\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad']

In [37]:
comp_name=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

In [38]:
company=[]
for i in comp_name:
    company.append(i.text)

In [39]:
company[:10]

['Collabera',
 'Thomson Reuters',
 'Capco',
 'Thomson Reuters',
 'Meesho',
 'Nuance India',
 'Cerner',
 'Flipkart',
 'Wells Fargo',
 'Artech infosystem']

In [62]:
exp_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')

In [63]:
exp=[]
for i in exp_tag:
    exp.append(i.text)
    len(exp)

In [65]:
exp[:10]

['6-11 Yrs',
 '5-8 Yrs',
 '7-12 Yrs',
 '2-3 Yrs',
 '3-6 Yrs',
 '3-8 Yrs',
 '2-4 Yrs',
 '3-6 Yrs',
 '4-7 Yrs',
 '1-6 Yrs']

In [67]:
jobs=pd.DataFrame()
jobs['Job Title']=job_title
jobs['Job Location']=job_locn
jobs['Company Name']=company
jobs['Experience']=exp

In [69]:
jobs[:10]

,Job Title,Job Location,Company Name,Experience
0,Sr.Business Data Analyst,"Bangalore/Bengaluru, karnataka\n(WFH during Co...",Collabera,6-11 Yrs
1,Sr Data Analyst,Bangalore/Bengaluru,Thomson Reuters,5-8 Yrs
2,Senior Data Analysis Analyst,"Bangalore/Bengaluru, Pune, Chennai",Capco,7-12 Yrs
3,Data Analyst,Bangalore/Bengaluru,Thomson Reuters,2-3 Yrs
4,Data Analyst/Senior Data Analyst,Bangalore/Bengaluru,Meesho,3-6 Yrs
5,Financial Data Analyst,Bangalore/Bengaluru,Nuance India,3-8 Yrs
6,Data Analyst II,Bangalore/Bengaluru,Cerner,2-4 Yrs
7,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,3-6 Yrs
8,Senior Data Management Analyst,Bangalore/Bengaluru,Wells Fargo,4-7 Yrs
9,Data Analyst - CRM Platform,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Artech infosystem,1-6 Yrs

# Data Scientist/Bangalore

In [ ]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [87]:
driver=webdriver.Chrome('chromedriver.exe')

In [88]:
url="https://www.naukri.com/"
driver.get(url)

In [89]:
from selenium.webdriver.common.by import By

In [90]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job

In [91]:
search_job.send_keys("Data scientist")

In [92]:
search_locn=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_locn

In [93]:
search_locn.send_keys("Bangalore")

In [94]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn

In [95]:
search_btn.click()

In [103]:
title_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')

In [104]:
job_title=[]
for i in title_tag:
    job_title.append(i.text)

In [106]:
job_title[:10]

['Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Dataiku Consultant',
 'Data Scientist: Advanced Analytics',
 'Research Scientist',
 'Data Science - Senior Data Scientist - Analytics',
 'Principal - Data Scientist',
 'Research and Development -AI/ML -(PhD )',
 'Opportunity For Data Scientist - Female Candidates ONLY',
 'Senior Data Science Engineer',
 'Data Science - Engineering Manager']

In [107]:
locn_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [108]:
job_locn=[]
for i in locn_tag:
    job_locn.append(i.text)

In [109]:
job_locn[:10]

['Bangalore/Bengaluru, Kochi/Cochin, New Delhi, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Delhi / NCR',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Noida, Mumbai']

In [110]:
comp_name=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

In [111]:
company=[]
for i in comp_name:
    company.append(i.text)

In [112]:
company[:10]

['Wipro',
 'Wipro',
 'IBM',
 'IBM',
 'Paytm',
 'Schneider Electric',
 'EXL',
 'PayU',
 'Fractal Analytics',
 'Paytm']

In [113]:
jobs=pd.DataFrame()
jobs['Job Title']=job_title
jobs['Job Location']=job_locn
jobs['Company Name']=company

In [115]:
jobs[:10]

,Job Title,Job Location,Company Name
0,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
1,Dataiku Consultant,"Bangalore/Bengaluru, Pune, Chennai",Wipro
2,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
3,Research Scientist,Bangalore/Bengaluru,IBM
4,Data Science - Senior Data Scientist - Analytics,"Bangalore/Bengaluru, Noida",Paytm
5,Principal - Data Scientist,Bangalore/Bengaluru,Schneider Electric
6,Research and Development -AI/ML -(PhD ),"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",EXL
7,Opportunity For Data Scientist - Female Candid...,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",PayU
8,Senior Data Science Engineer,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",Fractal Analytics
9,Data Science - Engineering Manager,"Bangalore/Bengaluru, Noida, Mumbai",Paytm

# Filter Search

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
driver=webdriver.Chrome('chromedriver.exe')

In [3]:
url="https://www.naukri.com/"
driver.get(url)

In [4]:
from selenium.webdriver.common.by import By

In [5]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job

In [6]:
search_job.send_keys("Data scientist")

In [7]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn

In [8]:
search_btn.click()

In [11]:
locn_check=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')

In [12]:
locn_check.click()

In [9]:
salary_check=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[1]/label/i')

In [10]:
salary_check.click()

In [13]:
title_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')

In [14]:
job_title=[]
for i in title_tag:
    job_title.append(i.text)

In [15]:
job_title[:10]

['Data Scientist For Healthcare Product team',
 'Data Scientist For Healthcare Product team',
 'Hiring For Data Science Intern- DataTrained Education',
 'Knowledge/Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Science',
 'Data Science',
 'Data Scientist']

In [16]:
locn_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [17]:
job_locn=[]
for i in locn_tag:
    job_locn.append(i.text)

In [18]:
job_locn[:10]

['Delhi / NCR, Chennai, Bangalore/Bengaluru',
 'Delhi / NCR, Chennai, Bangalore/Bengaluru',
 'Delhi / NCR, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Delhi / NCR',
 'Delhi / NCR, Pune, Bangalore/Bengaluru',
 'Delhi / NCR, Pune, Bangalore/Bengaluru',
 'Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugram, Bangalore/Bengaluru, Greater Noida',
 'Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugram, Bangalore/Bengaluru, Greater Noida',
 'Gurgaon/Gurugram']

In [19]:
comp_name=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

In [20]:
company=[]
for i in comp_name:
    company.append(i.text)

In [21]:
company[:10]

['8KMiles Software Services',
 '8KMiles Software Services',
 'DataTrained',
 'BOLD Technology Systems',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'PRASU SOFTWARE SOLUTIONS PRIVATE LIMITED']

In [23]:
exp_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')

In [24]:
exp=[]
for i in exp_tag:
    exp.append(i.text)
    len(exp)

In [25]:
exp[:10]

['2-7 Yrs',
 '2-7 Yrs',
 '0-2 Yrs',
 '3-6 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '2-4 Yrs']

In [26]:
jobs=pd.DataFrame()
jobs['Job Title']=job_title
jobs['Job Location']=job_locn
jobs['Company Name']=company
jobs['Experience']=exp

In [27]:
jobs[:10]

,Job Title,Job Location,Company Name,Experience
0,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",8KMiles Software Services,2-7 Yrs
1,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",8KMiles Software Services,2-7 Yrs
2,Hiring For Data Science Intern- DataTrained Ed...,"Delhi / NCR, Gurgaon/Gurugram, Bangalore/Benga...",DataTrained,0-2 Yrs
3,Knowledge/Data Scientist,Delhi / NCR,BOLD Technology Systems,3-6 Yrs
4,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4 Yrs
5,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4 Yrs
6,Data Science,"Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugra...",Mount Talent Consulting Private Limited,2-5 Yrs
7,Data Science,"Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugra...",Mount Talent Consulting Private Limited,2-5 Yrs
8,Data Scientist,Gurgaon/Gurugram,PRASU SOFTWARE SOLUTIONS PRIVATE LIMITED,2-4 Yrs

In [ ]:
#only 9 results are showing in website so in data frame and in other list also their are 9 rows

# FLIPKART

In [95]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [96]:
driver=webdriver.Chrome('chromedriver.exe')

In [97]:
url="https://www.flipkart.com/"
driver.get(url)

In [98]:
from selenium.webdriver.common.by import By

In [99]:
search_product= driver.find_element(By.CLASS_NAME,"_3704LK")
search_product

In [100]:
search_product.send_keys("sunglasses")

In [101]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [104]:
search_btn.click()

In [105]:
brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

In [106]:
brand=[]
for i in brand_tag:
    brand.append(i.text)

In [107]:
brand[:5]

['DAHAAZIL', 'New Specs', 'Fastrack', 'SUNBEE', 'Elligator']

In [108]:
product_des=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

In [109]:
product=[]
for i in product_des:
    
     product.append(i.text)

In [110]:
product[:5]

['UV Protection, Night Vision, Riding Glasses Wayfarer, W...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Round Sunglasses (54)']

In [111]:
price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

In [112]:
price=[]
for i in price_tag:
    price.append(i.text)

In [113]:
price[:5]

['₹177', '₹264', '₹639', '₹259', '₹315']

In [114]:
next_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_btn

In [115]:
next_btn.click()

In [116]:
brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

In [117]:
brand
for i in brand_tag:
    brand.append(i.text)

In [118]:
len(brand)

80

In [119]:
product_des=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

In [120]:
product
for i in product_des:
    
     product.append(i.text)

In [121]:
len(product)

80

In [122]:
price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

In [123]:
price
for i in price_tag:
    price.append(i.text)

In [124]:
len(price)

80

In [125]:
next_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_btn

In [126]:
next_btn.click()

In [127]:
brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

In [128]:
brand
for i in brand_tag:
    brand.append(i.text)

In [129]:
len(brand)

120

In [130]:
product_des=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

In [131]:
product
for i in product_des:
    
     product.append(i.text)

In [132]:
len(product)

120

In [133]:
price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

In [134]:
price
for i in price_tag:
    price.append(i.text)

In [135]:
len(price)

120

In [136]:
print(len(brand),len(product),len(price))

120 120 120

In [137]:
sunglasses=pd.DataFrame()
sunglasses['BRAND']=brand
sunglasses['Product Description']=product
sunglasses['Price']=price

In [139]:
sunglasses[:100]

        BRAND                                Product Description    Price
0    DAHAAZIL  UV Protection, Night Vision, Riding Glasses Wa...     ₹177
1   New Specs   UV Protection Rectangular Sunglasses (Free Size)     ₹264
2    Fastrack   UV Protection Rectangular Sunglasses (Free Size)     ₹639
3      SUNBEE  UV Protection, Polarized, Mirrored Retro Squar...     ₹259
4   Elligator                UV Protection Round Sunglasses (54)     ₹315
..        ...                                                ...      ...
95     GANSTA              UV Protection Aviator Sunglasses (57)     ₹323
96     AISLIN     UV Protection Shield, Wayfarer Sunglasses (61)     ₹375
97  ROYAL SON     UV Protection, Polarized Round Sunglasses (54)     ₹664
98     AISLIN  UV Protection, Gradient Butterfly, Over-sized ...     ₹648
99    Ray-Ban              UV Protection Aviator Sunglasses (58)  ₹10,206

[100 rows x 3 columns]

# flipkart iphone

In [70]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [71]:
driver=webdriver.Chrome(r'D:\flip robo\chromedriver_win32\chromedriver.exe')

In [72]:
url="https://www.flipkart.com/"
driver.get(url)

In [73]:
from selenium.webdriver.common.by import By

In [74]:
search_product= driver.find_element(By.CLASS_NAME,"_3704LK")
search_product

In [75]:
search_product.send_keys("iphone11 black 128gb")
#i have written complete name

In [76]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [78]:
search_btn.click()

In [79]:
first_product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[1]/div[1]/div/div/img')
first_product

In [80]:
first_product.click()

In [139]:
rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')

In [15]:
rating=[]
for i in rating_tag:
    rating.append(i.text)

In [99]:
rating

['5', '5', '5', '', '', '', '', '', '', '']

In [129]:
reviews=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')

In [132]:
reviewsum=[]
for i in reviews:
    reviewsum.append(i.text)

In [133]:
reviewsum

[]

In [136]:
fullreviews=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[5]/div/div[4]/div[2]/div/div/div[2]/div/div/div/text()')

In [137]:
reviewfullsum=[]
for i in fullreviews:
    reviewfullsum.append(i.text)

In [138]:
 reviewfullsum

[]

# Sneakers

In [223]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [224]:
driver=webdriver.Chrome(r'D:\flip robo\chromedriver_win32\chromedriver.exe')

In [225]:
url="https://www.flipkart.com/"
driver.get(url)

In [226]:
from selenium.webdriver.common.by import By

In [227]:
search_product= driver.find_element(By.CLASS_NAME,"_3704LK")
search_product

In [228]:
search_product.send_keys("sneakers")

In [229]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [235]:
search_btn.click()

In [236]:
brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

In [237]:
brand=[]
for i in brand_tag:
    brand.append(i.text)

In [238]:
brand[:5]

['BRUTON', 'Magnolia', 'URBANBOX', 'PUMA', 'BRUTON']

In [239]:
product_desp=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

In [240]:
products=[]
for i in product_desp:
    
     products.append(i.text)

In [241]:
products[:5]

['Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men']

In [243]:
price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

In [244]:
price=[]
for i in price_tag:
    price.append(i.text)

In [245]:
price[:5]

['₹284', '₹399', '₹219', '₹1,467', '₹299']

In [247]:
discount_tag=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')

In [248]:
discount=[]
for i in discount_tag:
    discount.append(i.text)

In [249]:
discount[:5]

['78% off', '60% off', '78% off', '58% off', '76% off']

In [250]:
next_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_btn

In [251]:
next_btn.click()

In [252]:
brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

In [253]:
brand
for i in brand_tag:
    brand.append(i.text)

In [254]:
len(brand)

80

In [255]:
product_desp=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

In [256]:
products
for i in product_desp:
    
     products.append(i.text)

In [257]:
len(products)

69

In [259]:
price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

In [260]:
price
for i in price_tag:
    price.append(i.text)

In [261]:
len(price)

80

In [262]:
discount_tag=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')

In [263]:
discount
for i in discount_tag:
    discount.append(i.text)

In [264]:
len(discount)

80

In [265]:
next_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_btn

In [266]:
next_btn.click()

In [268]:
brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

In [269]:
brand
for i in brand_tag:
    brand.append(i.text)

In [270]:
len(brand)

120

In [275]:
finalbrand=list(brand[:100])
finalbrand[:5]

['BRUTON', 'Magnolia', 'URBANBOX', 'PUMA', 'BRUTON']

In [276]:
product_desp=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

In [277]:
products
for i in product_desp:
    
     products.append(i.text)

In [278]:
len(products)

103

In [281]:
finalproduct=list(products[:100])
finalproduct[:5]

['Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men']

In [282]:
price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

In [283]:
price
for i in price_tag:
    price.append(i.text)

In [284]:
len(price)

120

In [286]:
finalprice=list(price[:100])
finalprice[:5]

['₹284', '₹399', '₹219', '₹1,467', '₹299']

In [287]:
discount_tag=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')

In [288]:
discount
for i in discount_tag:
    discount.append(i.text)

In [289]:
len(discount)

119

In [291]:
finaldiscount=list(discount[:100])
finaldiscount[:5]

['78% off', '60% off', '78% off', '58% off', '76% off']

In [292]:
df=pd.DataFrame()

In [293]:
df['BRAND']=finalbrand
df['PRODUCT_DESCRP']=finalproduct
df['PRICE']=finalprice
df['DISCOUNT']=finaldiscount

In [294]:
df

,BRAND,PRODUCT_DESCRP,PRICE,DISCOUNT
0,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹284,78% off
1,Magnolia,Sneakers For Men,₹399,60% off
2,URBANBOX,Puma Smash v2 L Sneakers For Men,₹219,78% off
3,PUMA,Modern Trendy Sneakers Shoes Sneakers For Men,"₹1,467",58% off
4,BRUTON,Sneakers For Men,₹299,76% off
...,...,...,...,...
95,WOODLAND,Ferrari Electron E Pro Sneakers For Men,"₹1,947",34% off
96,Kirjak,Sneakers For Men,₹490,75% off
97,PUMA,Cape Sneakers For Men,"₹2,470",61% off
98,Hida,SS1100 Sneakers For Men,₹501,49% off
99,Dizzler,Perfect Combo Sport Shoes for Running Training...,₹435,39% off

# AMAZON

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [3]:
driver=webdriver.Chrome(r'D:\flip robo\chromedriver_win32\chromedriver.exe')

In [4]:
url="https://www.amazon.in/"
driver.get(url)

In [5]:
from selenium.webdriver.common.by import By

In [6]:
search_amz=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_amz

In [7]:
search_amz.send_keys('laptop')

In [8]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn

In [9]:
search_btn.click()

In [10]:
cpu_check=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[12]/span/a/div/label/i')
cpu_check

In [11]:
cpu_check.click()

In [12]:
company_tag=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')

In [13]:
company=[]
for i in company_tag:
    company.append(i.text)

In [14]:
company[:10]

['Acer Aspire Vero AV15-51-5155 Green Laptop | 15.6" FHD IPS Display | 11th Gen Intel Core i5-1155G7 | 8GB DDR4 | 512GB SSD | Wi-Fi 6 | PCR Materials | Windows 11 Home | Fingerprint Reader | MS Office',
 'Acer Extensa Intel Core i5 15.6" (39.6 cms) Laptop - (8 GB/512 GB SSD/Windows 11 Home/Intel Iris Xe Graphics /1.7Kg/Black) EX215-54',
 '(Renewed) Dell Latitude E5470 Intel Core i5 6th Gen.6200u Processor 14.1 Inches HD Screen Notebook Computer (8 GB Ram & 256 GB SSD, Windows 10 Pro, 1.71Kg)',
 'Lenovo IdeaPad Slim 3 Intel Core i5 11th Gen 15.6" (39.62cm) FHD Thin & Light Laptop (8GB/512GB SSD/Windows 11/Office 2021/FPR/2Yr Warranty/3months Game Pass/Platinum Grey/1.7Kg), 81X800J1IN',
 'Lenovo IdeaPad Slim 3 Intel Core i5 12th Gen 15.6" (39.62cm) FHD Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/2Yr Warranty/3months Game Pass/Arctic Grey/1.63Kg), 82RK0085IN',
 '(Renewed) Lenovo Thinkpad Laptop X250 Intel Core i5 - 5300u Processor, 8 GB Ram & 256 GB SSD, Win10, 12.5 Inches 1.3 KG Ultralight Computer',
 'Honor MagicBook X 14, Intel Core i5-10210U 14 inch (35.56 cm) FHD IPS Anti-Glare Thin and Light Laptop (8GB/512GB PCIe SSD/Windows 10/1.38Kg), Gray, (NobleBR-WAH9E)',
 'Lenovo IdeaPad Gaming 3 Intel Core i5 11th Gen 15.6" (39.62cm) FHD IPS Gaming Laptop (8GB/512GB SSD/4GB NVIDIA GTX 1650/120Hz/Win 11/Backlit/3months Game Pass/Shadow Black/2.25Kg), 82K10198IN',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i5 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VEA0YSIH',
 'HP 250 G7 Commercial Laptop (10th Gen Intel Core i5, 8GB RAM, 1TB HDD, Windows 10), 1S5F9PA - for Small and Medium Business']

In [64]:
brand=list(company[:10])

In [48]:
titles_rat=driver.find_elements(By.XPATH,"//div[@class='a-row a-size-small']/span")
Rating=[]
for i in titles_rat:

    Rating.append(i.get_attribute("aria-label"))

In [50]:
Rating[:10]

['3.4 out of 5 stars',
 '114',
 '4.2 out of 5 stars',
 '110',
 '4.1 out of 5 stars',
 '93',
 '4.6 out of 5 stars',
 '3',
 '4.2 out of 5 stars',
 '2,359']

In [63]:
Ratings=list(Rating[:10])

In [1]:
price_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')

NameError: name 'driver' is not defined

In [53]:
price=[]
for i in price_tag:
    price.append(i.text)

In [55]:
price[:10]

['33,490',
 '46,490',
 '28,990',
 '37,990',
 '40,900',
 '34,790',
 '36,990',
 '32,990',
 '40,845',
 '39,890']

In [66]:
prices=list(price[:10])

In [67]:
df=pd.DataFrame()

In [68]:
df['BRAND']=brand
df['RATING']=Ratings
df['PRICE']=prices

In [69]:
df

,BRAND,RATING,PRICE
0,Acer Extensa Intel Core i3 11th Gen Intel Core...,3.4 out of 5 stars,"33,490"
1,Lenovo IdeaPad Slim 3 Intel Core i3 12th Gen 1...,114,"46,490"
2,"ASUS VivoBook 14 (2021), 14-inch (35.56 cm) HD...",4.2 out of 5 stars,"28,990"
3,Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 1...,110,"37,990"
4,"Hp 14S, 11Th Gen Intel Core I3, 8Gb Ram/512Gb ...",4.1 out of 5 stars,"40,900"
5,Lenovo IdeaPad Slim 3 Intel Core i3 10th Gen 1...,93,"34,790"
6,Hp 14S 11Th Gen Intel Core I3- 8Gb Ram/256Gb S...,4.6 out of 5 stars,"36,990"
7,"Honor MagicBook X 15, Intel Core i3-10110U / 1...",3,"32,990"
8,HP 15s-11th Gen Intel Core i3- 8GB RAM/512GB S...,4.2 out of 5 stars,"40,845"
9,"Hp 15S, 11Th Gen Intel Core I3, 8Gb Ram/512Gb ...","2,359","39,890"

# ambition box

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
driver=webdriver.Chrome('chromedriver.exe')

In [3]:
url="https://www.ambitionbox.com/"
driver.get(url)

In [4]:
from selenium.webdriver.common.by import By

In [5]:
job_btn=driver.find_element(By.XPATH,'/html/body/div[1]/nav/nav/a[6]')
job_btn

In [6]:
job_btn.click()

In [16]:
search_job=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
search_job

In [17]:
search_job.send_keys("data scientist")

In [18]:
search_btn1=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
search_btn1

In [19]:
search_btn1.click()

In [20]:
location=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
location

In [21]:
search_locn=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_locn

In [23]:
search_locn.send_keys("noida")

In [25]:
select_locn=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
select_locn.click()

In [26]:
title_tag=driver.find_elements(By.XPATH,'//a[@class="title noclick"]')

In [27]:
job_title=[]
for i in title_tag:
    job_title.append(i.text)

In [28]:
job_title[:10]

['Senior Data Scientist',
 'Data Scientist- Forecasting and R or Python',
 'LatentBridge - Data Scientist - Python/R (2-6 yrs)',
 'Data Scientist - Machine Learning Algorithms (3-8 yrs)',
 'Data Scientist - Machine Learning/Big Data (0-4 yrs)',
 'Info Edge - Data Scientist - Machine Learning/NLP (0-2 yrs)',
 'Info Edge - Senior Data Scientist - Machine Learning/Deep Learning (3-5 yrs)',
 'Data Science Trainer | AI | Machine Learning | Python |',
 'Data Scientist - NLP',
 'Principal Scientist - Machine Learning - IT (15-26 yrs)']

In [29]:
jobs=pd.DataFrame()
jobs['Job Title']=job_title

In [30]:
jobs[:10]

                                           Job Title
0                              Senior Data Scientist
1        Data Scientist- Forecasting and R or Python
2  LatentBridge - Data Scientist - Python/R (2-6 ...
3  Data Scientist - Machine Learning Algorithms (...
4  Data Scientist - Machine Learning/Big Data (0-...
5  Info Edge - Data Scientist - Machine Learning/...
6  Info Edge - Senior Data Scientist - Machine Le...
7  Data Science Trainer | AI | Machine Learning |...
8                               Data Scientist - NLP
9  Principal Scientist - Machine Learning - IT (1...

# salary comparsion

In [140]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [141]:
driver=webdriver.Chrome('chromedriver.exe')

In [142]:
url="https://www.ambitionbox.com/"
driver.get(url)

In [143]:
from selenium.webdriver.common.by import By

In [144]:
salary_btn=driver.find_element(By.XPATH,'//a[@href="https://www.ambitionbox.com/salaries"]')
salary_btn

In [145]:
salary_btn.click()

In [146]:
searchjob_search=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
searchjob_search

In [147]:
searchjob_search.send_keys("data scientist")

In [148]:
suggestion=driver.find_elements(By.XPATH,'//div[@class="tt_text"]')
suggestion

[]

In [10]:
suggestion.click()

AttributeError: 'list' object has no attribute 'click'

In [168]:
comp_name=driver.find_elements(By.CLASS_NAME,"company-info")

In [169]:
company=[]
for i in comp_name:
    
    company.append(i.text.split('\n')[0])

In [171]:
company[:10]

['Google',
 'Microsoft Corporation',
 'Goldman Sachs',
 'Tekion',
 'Amazon',
 'Servicenow Software Development India',
 'Flipkart',
 'Walmart',
 'PayPal',
 'Myntra']

In [172]:
company1=list(company[:10])

In [173]:
company1

['Google',
 'Microsoft Corporation',
 'Goldman Sachs',
 'Tekion',
 'Amazon',
 'Servicenow Software Development India',
 'Flipkart',
 'Walmart',
 'PayPal',
 'Myntra']

In [19]:
exp=driver.find_elements(By.CLASS_NAME,"sbold-list-header")

In [20]:
exper=[]
for i in exp:
    exper.append(i.text.split('(')[0])

In [165]:
exper[:10]

['3 yrs experience ',
 '3-4 yrs experience ',
 '2 yrs experience ',
 '3-4 yrs experience ',
 '3-4 yrs experience ',
 '2-4 yrs experience ',
 '2-4 yrs experience ',
 '2-4 yrs experience ',
 '3-4 yrs experience ',
 '2-4 yrs experience ']

In [166]:
experience=list(exper[:10])

In [167]:
experience

['3 yrs experience ',
 '3-4 yrs experience ',
 '2 yrs experience ',
 '3-4 yrs experience ',
 '3-4 yrs experience ',
 '2-4 yrs experience ',
 '2-4 yrs experience ',
 '2-4 yrs experience ',
 '3-4 yrs experience ',
 '2-4 yrs experience ']

In [43]:
nos=driver.find_elements(By.CLASS_NAME,"datapoints")

In [44]:
nosal=[]
for i in nos:
    nosal.append(i.text.split('(')[1])

In [45]:
nosal

['based on 12 salaries)',
 'based on 33 salaries)',
 'based on 15 salaries)',
 'based on 32 salaries)',
 'based on 21 salaries)',
 'based on 89 salaries)',
 'based on 51 salaries)',
 'based on 57 salaries)',
 'based on 21 salaries)',
 'based on 69 salaries)']

In [25]:
min_sal=driver.find_elements(By.CLASS_NAME,"salary-values")

In [26]:
minsalary=[]
for i in min_sal:
    minsalary.append(i.text.split('\n')[0])

In [177]:
minsalary[:10]

['₹ 25.0L',
 '₹ 15.0L',
 '₹ 11.0L',
 '₹ 11.0L',
 '₹ 5.6L',
 '₹ 10.0L',
 '₹ 9.0L',
 '₹ 8.3L',
 '₹ 7.6L',
 '₹ 7.0L']

In [178]:
minimumsalary=list(minsalary)

In [179]:
minimumsalary

['₹ 25.0L',
 '₹ 15.0L',
 '₹ 11.0L',
 '₹ 11.0L',
 '₹ 5.6L',
 '₹ 10.0L',
 '₹ 9.0L',
 '₹ 8.3L',
 '₹ 7.6L',
 '₹ 7.0L']

In [28]:
max_sal=driver.find_elements(By.CLASS_NAME,"salary-values")

In [29]:
maxsalary=[]
for i in max_sal:
    maxsalary.append(i.text.split('\n')[1])

In [40]:
maxsalary

['₹ 36.0L',
 '₹ 26.2L',
 '₹ 22.0L',
 '₹ 22.5L',
 '₹ 26.2L',
 '₹ 23.0L',
 '₹ 20.0L',
 '₹ 21.1L',
 '₹ 21.0L',
 '₹ 25.0L']

In [174]:
maximumsalary=list(maxsalary)

In [31]:
avg_sal=driver.find_elements(By.CLASS_NAME,"averageCtc")

In [32]:
average_sal=[]
for i in avg_sal:
    average_sal.append(i.text)

In [41]:
average_sal

['₹ 30.6L',
 '₹ 20.8L',
 '₹ 16.7L',
 '₹ 15.9L',
 '₹ 15.7L',
 '₹ 15.5L',
 '₹ 14.8L',
 '₹ 14.0L',
 '₹ 13.2L',
 '₹ 12.8L']

In [180]:
sal=pd.DataFrame()
sal['Company']=company1
sal['Experience']=experience
sal['No. of Salary']=nosal
sal['Mininumsalary']=minimumsalary
sal['Maximumsalary']=maximumsalary
sal['Averagesalary']=average_sal

In [181]:
sal[:10]

,Company,Experience,No. of Salary,Mininumsalary,Maximumsalary,Averagesalary
0,Google,3 yrs experience,based on 12 salaries),₹ 25.0L,₹ 36.0L,₹ 30.6L
1,Microsoft Corporation,3-4 yrs experience,based on 33 salaries),₹ 15.0L,₹ 26.2L,₹ 20.8L
2,Goldman Sachs,2 yrs experience,based on 15 salaries),₹ 11.0L,₹ 22.0L,₹ 16.7L
3,Tekion,3-4 yrs experience,based on 32 salaries),₹ 11.0L,₹ 22.5L,₹ 15.9L
4,Amazon,3-4 yrs experience,based on 21 salaries),₹ 5.6L,₹ 26.2L,₹ 15.7L
5,Servicenow Software Development India,2-4 yrs experience,based on 89 salaries),₹ 10.0L,₹ 23.0L,₹ 15.5L
6,Flipkart,2-4 yrs experience,based on 51 salaries),₹ 9.0L,₹ 20.0L,₹ 14.8L
7,Walmart,2-4 yrs experience,based on 57 salaries),₹ 8.3L,₹ 21.1L,₹ 14.0L
8,PayPal,3-4 yrs experience,based on 21 salaries),₹ 7.6L,₹ 21.0L,₹ 13.2L
9,Myntra,2-4 yrs experience,based on 69 salaries),₹ 7.0L,₹ 25.0L,₹ 12.8L

# AZQUOTES

In [6]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [7]:
from selenium.webdriver.common.by import By

In [8]:
driver=webdriver.Chrome(r'D:\flip robo\chromedriver_win32\chromedriver.exe')

In [9]:
driver.maximize_window()

In [11]:
url='https://www.azquotes.com/'
driver.get(url)

In [12]:
topquote=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
topquote

In [13]:
topquote.click()

In [25]:
quote=[]
start=0
end=10
for page in range(start,end):
    quote_tag=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tag:
        quote.append(i.text)
    nextpage=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[3]/a')
    nextpage.click()    
time.sleep(3)

In [26]:
len(quote)

1000

In [27]:
author=[]
start=0
end=10
for page in range(start,end):
    author_tag=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tag:
        author.append(i.text)
    nextpage=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[3]/a')
    nextpage.click()
time.sleep(3)
len(author)

1000

In [28]:
quotetype=[]
start=0
end=10
for page in range(start,end):
    quotetype_tag=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in quotetype_tag:
        quotetype.append(i.text)
    nextpage=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[3]/a')
    nextpage.click()
time.sleep(3)
len(quotetype)

1000

In [21]:
#nextpage=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[3]/a')
#nextpage

In [22]:
#nextpage.click()

In [29]:
df=pd.DataFrame()

In [30]:
df['QUOTES']=quote
df['AUTHOR']=author
df['TYPE OF QUOTES']=quotetype

In [31]:
df

,QUOTES,AUTHOR,TYPE OF QUOTES
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When one door closes, another opens; but we of...",Alexander Graham Bell,"Love, Inspirational, Life"
996,"Don't find fault, find a remedy.",Henry Ford,"Inspirational, Motivational, Positive"
997,I used to think the worst thing in life was to...,Robin Williams,"Love, Life, Lonely"
998,Friends and good manners will carry you where ...,Margaret Walker,"Love, Inspirational, Friendship"
999,"If you want to make a permanent change, stop f...",T. Harv Eker,"Inspirational, Change, Inspiring"

In [33]:
driver.close()

# Q10 JAGRAN JOSH

In [259]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')

In [260]:

driver=webdriver.Chrome(r'D:\flip robo\chromedriver_win32\chromedriver.exe')

In [261]:
driver.maximize_window()

In [262]:
url=' https://www.jagranjosh.com/'
driver.get(url)

In [263]:
gk=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
gk.click()

In [264]:
pm=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
pm.click()

In [265]:
entry=[]
name=[]
bd=[]
term=[]
remark=[]
entries = driver.find_elements(By.TAG_NAME,"tr")
for i in entries:
    entry.append(i.text.split('\n'))

In [266]:
for i in range(1,len(entry)):
    name.append(entry[i][1])
    bd.append(entry[i][2])   
    term.append(entry[i][3])
    remark.append(entry[i][5])

IndexError: list index out of range

In [268]:
name[0:1]

['Jawahar Lal Nehru']

In [269]:
bd[0:1]

['(1889–1964)']

In [270]:
term[0:2]

['15 August 1947 to 27 May 1964', '27 May 1964 to 9 June 1964,']

In [271]:
remark

['The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 'First acting PM of India',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '-',
 'First female Prime Minister of India',
 'Oldest to become PM (81 years old) and first to resign from office',
 'Only PM who did not face the Parliament',
 'The first lady who served as PM for the second term',
 'Youngest to become PM (40 years old)',
 'First PM to step down after a vote of no confidence',
 'He belongs to  Samajwadi Janata Party',
 'First PM from south India',
 'PM for shortest tenure',
 'He belongs to  Janata Dal',
 '------',
 ' The first non-congress PM who completed a full term as PM',
 ' First Sikh PM']

In [272]:
remarkforlast=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[19]/td[5]/p")
remarkforlast.text

'4th Prime Minister of India who served two consecutive tenures'

In [273]:
remark.append(remarkforlast.text)

In [274]:
remark

['The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 'First acting PM of India',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '-',
 'First female Prime Minister of India',
 'Oldest to become PM (81 years old) and first to resign from office',
 'Only PM who did not face the Parliament',
 'The first lady who served as PM for the second term',
 'Youngest to become PM (40 years old)',
 'First PM to step down after a vote of no confidence',
 'He belongs to  Samajwadi Janata Party',
 'First PM from south India',
 'PM for shortest tenure',
 'He belongs to  Janata Dal',
 '------',
 ' The first non-congress PM who completed a full term as PM',
 ' First Sikh PM',
 '4th Prime Minister of India who served two consecutive tenures']

In [275]:
df=pd.DataFrame()

In [276]:
df["NAME"]=name
df["BORN-DEAD"]=bd
df["TERM"]=term
df["REMARK"]=remark

In [277]:
df

,NAME,BORN-DEAD,TERM,REMARK
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),9 June 1964 to 11 January 1966,He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966,-
4,Indira Gandhi,(1917–1984),24 January 1966 to 24 March 1977,First female Prime Minister of India
5,Morarji Desai,(1896–1995),24 March 1977 to 28 July 1979,Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),14 January 1980 to 31 October 1984,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),31 October 1984 to 2 December 1989,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),21 June 1991 to 16 May 1996,First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998,------
15,Atal Bihari Vajpayee,(1924-2018),19 March 1998 to 22 May 2004,The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),22 May 2004 to 26 May 2014,First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

# Question 11 Motor1

In [1]:
import selenium 
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [2]:
driver=webdriver.Chrome(r'D:\flip robo\chromedriver_win32\chromedriver.exe')

In [4]:
driver.maximize_window()

In [5]:
url="https://www.motor1.com"
driver.get(url)

In [6]:
feature_tag=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[3]/ul/li[3]/a')
feature_tag.click()

In [7]:
expensivecar=driver.find_element(By.XPATH,'/html/body/div[3]/div[7]/div/div[1]/div[1]/div[4]/div/div[1]/h3/a')
expensivecar.click()

In [11]:
car_name=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')

In [12]:
car=[]
for i in car_name:
    car.append(i.text)
len(car)

51

In [16]:
price_tag=driver.find_elements(By.TAG_NAME,'strong')

In [17]:
price=[]
for i in price_tag:
    price.append(i.text)
len(price)

51

In [19]:
price[:5]

['Price: $1.2 Million',
 'Price: $1.3 Million',
 'Price: $1.4 Million',
 'Price: $1.4 Million',
 '']

In [21]:
df=pd.DataFrame()

In [22]:
df["NAME OF CAR"]=car
df["PRICE"]=price

In [23]:
df

                         NAME OF CAR                        PRICE
0                          Drako GTE          Price: $1.2 Million
1                      De Tomaso P72          Price: $1.3 Million
2                  Ferrari LaFerrari          Price: $1.4 Million
3                      Pagani Huayra          Price: $1.4 Million
4                       McLaren Elva
5                        Czinger 21C          Price: $1.7 Million
6                      Ferrari Monza          Price: $1.7 Million
7                 Gordon Murray T.33          Price: $1.7 Million
8                  Koenigsegg Gemera          Price: $1.7 Million
9                        Zenvo TSR-S          Price: $1.7 Million
10                Hennessey Venom F5          Price: $1.7 Million
11                   Bentley Bacalar          Price: $1.8 Million
12     Hispano Suiza Carmen Boulogne          Price: $1.9 Million
13            Bentley Mulliner Batur          Price: $1.9 Million
14                      Deus Vayanne          Price: $2.0 Million
15                       SSC Tuatara          Price: $2.0 Million
16                       Lotus Evija         Price: $2.0 Million*
17               Aston Martin Vulcan          Price: $2.1 Million
18                        Delage D12          Price: $2.3 Million
19                 McLaren Speedtail          Price: $2.3 Million
20                      Rimac Nevera          Price: $2.3 Million
21                     Pagani Utopia          Price: $2.4 Million
22              Pininfarina Battista          Price: $2.5 Million
23                 Ferrari FXX K Evo          Price: $2.5 Million
24                Gordon Murray T.50          Price: $2.6 Million
25              Lamborghini Countach          Price: $2.6 Million
26          Mercedes-AMG Project One          Price: $2.6 Million
27               Aston Martin Victor          Price: $2.7 Million
28       Hennessey Venom F5 Roadster          Price: $3.0 Million
29                  Koenigsegg Jesko                 $3.0 Million
30             Aston Martin Valkyrie          Price: $3.0 Million
31         W Motors Lykan Hypersport          Price: $3.2 Million
32                     McLaren Solus          Price: $3.4 Million
33         Pagani Huayra Roadster BC                 $3.5 Million
34          Bugatti Chiron Pur Sport          Price: $3.5 Million
35                  Lamborghini Sian          Price: $3.6 Million
36                  Koenigsegg CC850          Price: $3.6 million
37   Bugatti Chiron Super Sport 300+          Price: $3.7 Million
38                Lamborghini Veneno          Price: $3.9 Million
39                    Bugatti Bolide          Price: $4.5 Million
40                   Bugatti Mistral          Price: $4.7 Million
41               Pagani Huayra Imola          Price: $5.0 Million
42                      Bugatti Divo          Price: $5.4 Million
43               SP Automotive Chaos          Price: $5.8 Million
44                  Pagani Codalunga          Price: $6.4 Million
45          Mercedes-Maybach Exelero          Price: $7.4 Million
46                Bugatti Centodieci          Price: $8.0 Million
47              Rolls-Royce Sweptail          Price: $9.0 Million
48          Bugatti La Voiture Noire         Price: $12.8 Million
49            Rolls-Royce Boat Tail*         Price: $13.4 Million
50  Most Expensive Cars In The World  Price: $28.0 Million (est.)