# 1 HEADER TAGS

In [40]:
from bs4 import BeautifulSoup
import requests

In [41]:
page=requests.get("https://en.wikipedia.org/wiki/Main_Page")
page

In [42]:
soup=BeautifulSoup(page.content)

In [13]:
header_tag=[]

for i in soup.find_all('span',class_="mw-headline"):
    header_tag.append(i.text)
    
header_tag

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [14]:
import pandas as pd
df=pd.DataFrame({'HEADER TAGS':header_tag})
df

                     HEADER TAGS
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

# 2 IMDB’s Top rated 100 movies’ data

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
page=requests.get("https://www.imdb.com/chart/top/?ref_=nv_mv_250")
page

In [4]:
soup=BeautifulSoup(page.content)

In [18]:
name=[]


for i in soup.find_all('td',class_="titleColumn"):
    name.append(i.text.replace("\n",""))
    
name[:100]

['      1.      The Shawshank Redemption(1994)',
 '      2.      The Godfather(1972)',
 '      3.      The Dark Knight(2008)',
 '      4.      The Godfather Part II(1974)',
 '      5.      12 Angry Men(1957)',
 "      6.      Schindler's List(1993)",
 '      7.      The Lord of the Rings: The Return of the King(2003)',
 '      8.      Pulp Fiction(1994)',
 '      9.      The Lord of the Rings: The Fellowship of the Ring(2001)',
 '      10.      Il buono, il brutto, il cattivo(1966)',
 '      11.      Forrest Gump(1994)',
 '      12.      Fight Club(1999)',
 '      13.      Inception(2010)',
 '      14.      The Lord of the Rings: The Two Towers(2002)',
 '      15.      The Empire Strikes Back(1980)',
 '      16.      The Matrix(1999)',
 '      17.      Goodfellas(1990)',
 "      18.      One Flew Over the Cuckoo's Nest(1975)",
 '      19.      Se7en(1995)',
 '      20.      Shichinin no samurai(1954)',
 "      21.      It's a Wonderful Life(1946)",
 '      22.      The Silence of the Lambs(1991)',
 '      23.      Cidade de Deus(2002)',
 '      24.      Saving Private Ryan(1998)',
 '      25.      La vita è bella(1997)',
 '      26.      The Green Mile(1999)',
 '      27.      Interstellar(2014)',
 '      28.      Star Wars(1977)',
 '      29.      Terminator 2: Judgment Day(1991)',
 '      30.      Back to the Future(1985)',
 '      31.      Sen to Chihiro no kamikakushi(2001)',
 '      32.      Psycho(1960)',
 '      33.      The Pianist(2002)',
 '      34.      Léon(1994)',
 '      35.      Gisaengchung(2019)',
 '      36.      The Lion King(1994)',
 '      37.      Gladiator(2000)',
 '      38.      American History X(1998)',
 '      39.      The Usual Suspects(1995)',
 '      40.      The Departed(2006)',
 '      41.      The Prestige(2006)',
 '      42.      Casablanca(1942)',
 '      43.      Whiplash(2014)',
 '      44.      Top Gun: Maverick(2022)',
 '      45.      The Intouchables(2011)',
 '      46.      Modern Times(1936)',
 '      47.      Seppuku(1962)',
 '      48.      Hotaru no haka(1988)',
 '      49.      Once Upon a Time in the West(1968)',
 '      50.      Rear Window(1954)',
 '      51.      Alien(1979)',
 '      52.      City Lights(1931)',
 '      53.      Nuovo Cinema Paradiso(1988)',
 '      54.      Memento(2000)',
 '      55.      Apocalypse Now(1979)',
 '      56.      Raiders of the Lost Ark(1981)',
 '      57.      Django Unchained(2012)',
 '      58.      WALL·E(2008)',
 '      59.      The Lives of Others(2006)',
 '      60.      Sunset Blvd.(1950)',
 '      61.      Paths of Glory(1957)',
 '      62.      The Shining(1980)',
 '      63.      The Great Dictator(1940)',
 '      64.      Witness for the Prosecution(1957)',
 '      65.      Avengers: Infinity War(2018)',
 '      66.      Aliens(1986)',
 '      67.      American Beauty(1999)',
 '      68.      Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb(1964)',
 '      69.      Spider-Man: Into the Spider-Verse(2018)',
 '      70.      The Dark Knight Rises(2012)',
 '      71.      Oldeuboi(2003)',
 '      72.      Joker(2019)',
 '      73.      Amadeus(1984)',
 '      74.      Braveheart(1995)',
 '      75.      Toy Story(1995)',
 '      76.      Coco(2017)',
 '      77.      Das Boot(1981)',
 '      78.      Inglourious Basterds(2009)',
 '      79.      Mononoke-hime(1997)',
 '      80.      Avengers: Endgame(2019)',
 '      81.      Once Upon a Time in America(1984)',
 '      82.      Good Will Hunting(1997)',
 '      83.      Requiem for a Dream(2000)',
 '      84.      Toy Story 3(2010)',
 '      85.      Kimi no na wa.(2016)',
 "      86.      Singin' in the Rain(1952)",
 '      87.      3 Idiots(2009)',
 '      88.      Star Wars: Episode VI - Return of the Jedi(1983)',
 '      89.      2001: A Space Odyssey(1968)',
 '      90.      Eternal Sunshine of the Spotless Mind(2004)',
 '      91.      Reservoir Dogs(1992)',
 '      92.      Tengoku to jigoku(1963)',
 '      93.      Capharnaüm(2018)',
 '      94.      Citizen Kane(1941)',
 '      95.      Lawrence of Arabia(1962)',
 '      96.      Jagten(2012)',
 '      97.      M - Eine Stadt sucht einen Mörder(1931)',
 '      98.      North by Northwest(1959)',
 '      99.      Vertigo(1958)',
 "      100.      Le fabuleux destin d'Amélie Poulain(2001)"]

In [19]:
rate=[]
for i in soup.find_all('td',class_="ratingColumn imdbRating"):
    rate.append(i.text.replace("\n",""))
    
rate[:100]

['9.2',
 '9.2',
 '9.0',
 '9.0',
 '8.9',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2']

In [20]:
yorl=[]

for i in soup.find_all('span',class_="secondaryInfo"):
    yorl.append(i.text)
    
yorl[:100]

['(1994)',
 '(1972)',
 '(2008)',
 '(1974)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(2001)',
 '(1966)',
 '(1994)',
 '(1999)',
 '(2010)',
 '(2002)',
 '(1980)',
 '(1999)',
 '(1990)',
 '(1975)',
 '(1995)',
 '(1954)',
 '(1946)',
 '(1991)',
 '(2002)',
 '(1998)',
 '(1997)',
 '(1999)',
 '(2014)',
 '(1977)',
 '(1991)',
 '(1985)',
 '(2001)',
 '(1960)',
 '(2002)',
 '(1994)',
 '(2019)',
 '(1994)',
 '(2000)',
 '(1998)',
 '(1995)',
 '(2006)',
 '(2006)',
 '(1942)',
 '(2014)',
 '(2022)',
 '(2011)',
 '(1936)',
 '(1962)',
 '(1988)',
 '(1968)',
 '(1954)',
 '(1979)',
 '(1931)',
 '(1988)',
 '(2000)',
 '(1979)',
 '(1981)',
 '(2012)',
 '(2008)',
 '(2006)',
 '(1950)',
 '(1957)',
 '(1980)',
 '(1940)',
 '(1957)',
 '(2018)',
 '(1986)',
 '(1999)',
 '(1964)',
 '(2018)',
 '(2012)',
 '(2003)',
 '(2019)',
 '(1984)',
 '(1995)',
 '(1995)',
 '(2017)',
 '(1981)',
 '(2009)',
 '(1997)',
 '(2019)',
 '(1984)',
 '(1997)',
 '(2000)',
 '(2010)',
 '(2016)',
 '(1952)',
 '(2009)',
 '(1983)',
 '(1968)',
 '(2004)',
 '(1992)',
 '(1963)',
 '(2018)',
 '(1941)',
 '(1962)',
 '(2012)',
 '(1931)',
 '(1959)',
 '(1958)',
 '(2001)']

In [21]:
import pandas as pd
df=pd.DataFrame({'Name':name,'Rating':rate,'year of release':yorl})
df[:100]

                                                 Name Rating year of release
0              1.      The Shawshank Redemption(1994)    9.2          (1994)
1                         2.      The Godfather(1972)    9.2          (1972)
2                       3.      The Dark Knight(2008)    9.0          (2008)
3                 4.      The Godfather Part II(1974)    9.0          (1974)
4                          5.      12 Angry Men(1957)    8.9          (1957)
..                                                ...    ...             ...
95                              96.      Jagten(2012)    8.3          (2012)
96        97.      M - Eine Stadt sucht einen Mörd...    8.3          (1931)
97                  98.      North by Northwest(1959)    8.3          (1959)
98                             99.      Vertigo(1958)    8.2          (1958)
99        100.      Le fabuleux destin d'Amélie Po...    8.2          (2001)

[100 rows x 3 columns]

# 3 IMDB’s Top rated 100 Indian movies’

In [5]:
from bs4 import BeautifulSoup
import requests

In [6]:
page=requests.get('https://www.imdb.com/india/top-rated-indian-movies')
page

In [7]:
soup=BeautifulSoup(page.content)

In [25]:
name=[]


for i in soup.find_all('td',class_="titleColumn"):
    name.append(i.text.replace("\n",""))
    
name[:100]

['      1.      Jai Bhim(2021)',
 '      2.      Anbe Sivam(2003)',
 '      3.      Golmaal(1979)',
 '      4.      Nayakan(1987)',
 '      5.      Pariyerum Perumal(2018)',
 '      6.      3 Idiots(2009)',
 '      7.      Apur Sansar(1959)',
 '      8.      Manichitrathazhu(1993)',
 '      9.      Black Friday(2004)',
 '      10.      Kumbalangi Nights(2019)',
 '      11.      C/o Kancharapalem(2018)',
 '      12.      Taare Zameen Par(2007)',
 '      13.      #Home(2021)',
 '      14.      Vikram(2022)',
 '      15.      Soorarai Pottru(2020)',
 '      16.      Dangal(2016)',
 '      17.      Kireedam(1989)',
 '      18.      Kaithi(2019)',
 '      19.      Jersey(2019)',
 '      20.      Thevar Magan(1992)',
 '      21.      Pather Panchali(1955)',
 '      22.      Asuran(2019)',
 '      23.      96(2018)',
 '      24.      Visaaranai(2015)',
 '      25.      Thalapathi(1991)',
 '      26.      Natsamrat(2016)',
 '      27.      Sarpatta Parambarai(2021)',
 '      28.      Drishyam 2(2021)',
 '      29.      Sardar Udham(2021)',
 '      30.      Thani Oruvan(2015)',
 '      31.      Aparajito(1956)',
 '      32.      Vada Chennai(2018)',
 '      33.      Jaane Bhi Do Yaaro(1983)',
 '      34.      Khosla Ka Ghosla!(2006)',
 '      35.      Drishyam(2013)',
 '      36.      Chupke Chupke(1975)',
 '      37.      Peranbu(2018)',
 '      38.      Agent Sai Srinivasa Athreya(2019)',
 '      39.      Anniyan(2005)',
 '      40.      Mahanati(2018)',
 '      41.      Super Deluxe(2019)',
 '      42.      Bangalore Days(2014)',
 '      43.      Satya(1998)',
 '      44.      Premam(2015)',
 '      45.      Ratsasan(2018)',
 '      46.      Devasuram(1993)',
 '      47.      Bhaag Milkha Bhaag(2013)',
 '      48.      Gangs of Wasseypur(2012)',
 '      49.      Aruvi(2016)',
 '      50.      Andhadhun(2018)',
 '      51.      Drishyam(2015)',
 '      52.      Kannathil Muthamittal(2002)',
 '      53.      Guide(1965)',
 '      54.      Shahid(2012)',
 '      55.      Chithram(1988)',
 '      56.      Iruvar(1997)',
 '      57.      Sairat(2016)',
 '      58.      Zindagi Na Milegi Dobara(2011)',
 '      59.      Paan Singh Tomar(2012)',
 '      60.      Vikram Vedha(2017)',
 '      61.      Tumbbad(2018)',
 '      62.      Mudhalvan(1999)',
 '      63.      Dhuruvangal Pathinaaru(2016)',
 '      64.      Black(2005)',
 '      65.      Chhichhore(2019)',
 '      66.      Spadikam(1995)',
 '      67.      Swades: We, the People(2004)',
 '      68.      Chak De! India(2007)',
 '      69.      Jo Jeeta Wohi Sikandar(1992)',
 '      70.      Pudhu Pettai(2006)',
 '      71.      Papanasam(2015)',
 '      72.      Pyaasa(1957)',
 '      73.      Soodhu Kavvum(2013)',
 '      74.      PK(2014)',
 '      75.      Munna Bhai M.B.B.S.(2003)',
 '      76.      Mandela(2021)',
 '      77.      Article 15(2019)',
 '      78.      Queen(2013)',
 '      79.      Talvar(2015)',
 '      80.      Uri: The Surgical Strike(2019)',
 '      81.      Kaakkaa Muttai(2014)',
 '      82.      OMG: Oh My God!(2012)',
 '      83.      Lagaan: Once Upon a Time in India(2001)',
 '      84.      Jigarthanda(2014)',
 '      85.      Sarfarosh(1999)',
 '      86.      Udaan(2010)',
 '      87.      Barfi!(2012)',
 '      88.      Theeran Adhigaaram Ondru(2017)',
 '      89.      Sholay(1975)',
 '      90.      Ustad Hotel(2012)',
 '      91.      Hera Pheri(2000)',
 '      92.      The Legend of Bhagat Singh(2002)',
 '      93.      Angoor(1982)',
 '      94.      Rang De Basanti(2006)',
 '      95.      Baasha(1995)',
 '      96.      Masaan(2015)',
 '      97.      Kahaani(2012)',
 '      98.      Baahubali 2: The Conclusion(2017)',
 '      99.      Dil Chahta Hai(2001)',
 '      100.      Maheshinte Prathikaaram(2016)']

In [26]:
rate=[]
for i in soup.find_all('td',class_="ratingColumn imdbRating"):
    rate.append(i.text.replace("\n",""))
    
rate[:100]

['8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0']

In [27]:
yorl=[]

for i in soup.find_all('span',class_="secondaryInfo"):
    yorl.append(i.text)
    
yorl[:100]

['(2021)',
 '(2003)',
 '(1979)',
 '(1987)',
 '(2018)',
 '(2009)',
 '(1959)',
 '(1993)',
 '(2004)',
 '(2019)',
 '(2018)',
 '(2007)',
 '(2021)',
 '(2022)',
 '(2020)',
 '(2016)',
 '(1989)',
 '(2019)',
 '(2019)',
 '(1992)',
 '(1955)',
 '(2019)',
 '(2018)',
 '(2015)',
 '(1991)',
 '(2016)',
 '(2021)',
 '(2021)',
 '(2021)',
 '(2015)',
 '(1956)',
 '(2018)',
 '(1983)',
 '(2006)',
 '(2013)',
 '(1975)',
 '(2018)',
 '(2019)',
 '(2005)',
 '(2018)',
 '(2019)',
 '(2014)',
 '(1998)',
 '(2015)',
 '(2018)',
 '(1993)',
 '(2013)',
 '(2012)',
 '(2016)',
 '(2018)',
 '(2015)',
 '(2002)',
 '(1965)',
 '(2012)',
 '(1988)',
 '(1997)',
 '(2016)',
 '(2011)',
 '(2012)',
 '(2017)',
 '(2018)',
 '(1999)',
 '(2016)',
 '(2005)',
 '(2019)',
 '(1995)',
 '(2004)',
 '(2007)',
 '(1992)',
 '(2006)',
 '(2015)',
 '(1957)',
 '(2013)',
 '(2014)',
 '(2003)',
 '(2021)',
 '(2019)',
 '(2013)',
 '(2015)',
 '(2019)',
 '(2014)',
 '(2012)',
 '(2001)',
 '(2014)',
 '(1999)',
 '(2010)',
 '(2012)',
 '(2017)',
 '(1975)',
 '(2012)',
 '(2000)',
 '(2002)',
 '(1982)',
 '(2006)',
 '(1995)',
 '(2015)',
 '(2012)',
 '(2017)',
 '(2001)',
 '(2016)']

In [28]:
import pandas as pd
df=pd.DataFrame({'Name':name,'Rating':rate,'year of release':yorl})
df[:100]

                                                Name Rating year of release
0                             1.      Jai Bhim(2021)    8.4          (2021)
1                           2.      Anbe Sivam(2003)    8.4          (2003)
2                              3.      Golmaal(1979)    8.4          (1979)
3                              4.      Nayakan(1987)    8.4          (1987)
4                    5.      Pariyerum Perumal(2018)    8.4          (2018)
..                                               ...    ...             ...
95                             96.      Masaan(2015)    8.0          (2015)
96                            97.      Kahaani(2012)    8.0          (2012)
97        98.      Baahubali 2: The Conclusion(2017)    8.0          (2017)
98                     99.      Dil Chahta Hai(2001)    8.0          (2001)
99           100.      Maheshinte Prathikaaram(2016)    8.0          (2016)

[100 rows x 3 columns]

# 4 PRESIDENT OF INDIA

In [8]:
from bs4 import BeautifulSoup
import requests

In [9]:
page=requests.get('https://presidentofindia.nic.in/former-presidents.htm')
page

In [10]:
soup=BeautifulSoup(page.content)

In [32]:
nop=[]

for i in soup.find_all('div',class_="presidentListing"):
    nop.append(i.find("h3").text.split("(")[0])
    
nop

['Shri Pranab Mukherjee ',
 'Smt Pratibha Devisingh Patil ',
 'DR. A.P.J. Abdul Kalam ',
 'Shri K. R. Narayanan ',
 'Dr Shankar Dayal Sharma ',
 'Shri R Venkataraman ',
 'Giani Zail Singh ',
 'Shri Neelam Sanjiva Reddy ',
 'Dr. Fakhruddin Ali Ahmed ',
 'Shri Varahagiri Venkata Giri ',
 'Dr. Zakir Husain ',
 'Dr. Sarvepalli Radhakrishnan ',
 'Dr. Rajendra Prasad ']

In [33]:
office=[]
for i in soup.find_all("div",class_="presidentListing"):

     office.append(i.find_all("p")[0].text.split(":")[1])
    
office

[' 25 July, 2012 to 25 July, 2017 ',
 ' 25 July, 2007 to 25 July, 2012 ',
 ' 25 July, 2002 to 25 July, 2007 ',
 ' 25 July, 1997 to 25 July, 2002 ',
 ' 25 July, 1992 to 25 July, 1997 ',
 ' 25 July, 1987 to 25 July, 1992 ',
 ' 25 July, 1982 to 25 July, 1987 ',
 ' 25 July, 1977 to 25 July, 1982 ',
 ' 24 August, 1974 to 11 February, 1977',
 ' 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 ' 13 May, 1967 to 3 May, 1969',
 ' 13 May, 1962 to 13 May, 1967',
 ' 26 January, 1950 to 13 May, 1962']

In [34]:
print(len(nop),len(office))

13 13

In [35]:
import pandas as pd 
df=pd.DataFrame({'NAME OF PRESIDENT':nop,'TERM OF OFFICE':office})
df

,NAME OF PRESIDENT,TERM OF OFFICE
0,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
1,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
2,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
3,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
4,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
5,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
6,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
7,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
8,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
9,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
10,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
11,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
12,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

# ICC cricket teams

In [11]:
from bs4 import BeautifulSoup
import requests

In [12]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page

In [13]:
soup=BeautifulSoup(page.content)

In [202]:
country=[]

for i in soup.find_all('span',class_="u-hide-phablet"):
    
     country.append(i.text)
    
country[:10]

['New Zealand',
 'England',
 'Pakistan',
 'India',
 'Australia',
 'South Africa',
 'Bangladesh',
 'Sri Lanka',
 'West Indies',
 'Afghanistan']

In [203]:

match=soup.find('td',class_="rankings-block__banner--matches")
match.text

'12'

In [204]:
point=soup.find('td',class_="rankings-block__banner--points")
point.text

'1,505'

In [217]:


matches=[]
matches.append(match.text)
matches.append(point.text)
for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    
    matches.append(i.text)

matches

['12',
 '1,505',
 '22',
 '2,756',
 '19',
 '2,005',
 '22',
 '2,304',
 '23',
 '2,325',
 '19',
 '1,872',
 '24',
 '2,275',
 '29',
 '2,658',
 '32',
 '2,306',
 '18',
 '1,238',
 '20',
 '1,083',
 '18',
 '814',
 '19',
 '724',
 '18',
 '603',
 '17',
 '539',
 '30',
 '919',
 '20',
 '544',
 '11',
 '246',
 '18',
 '298',
 '22',
 '134']

In [78]:
first_rating=soup.find('td',class_="rankings-block__banner--rating u-text-right")
first_rating.text.replace("\n","")

'                            125                            '

In [80]:
rating=[]
rating.append(first_rating.text.replace("\n",""))
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating.append(i.text)
    
rating[:10]

['                            125                            ',
 '125',
 '106',
 '105',
 '101',
 '99',
 '95',
 '92',
 '72',
 '69']

In [82]:
print(len(country),len(matches),len(rating))

25 40 20

# Top 10 ODI Batsmen

In [14]:
from bs4 import BeautifulSoup
import requests

In [15]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi?at=2022-06-30")
page

In [16]:
soup=BeautifulSoup(page.content)

In [5]:
first_player=soup.find('div',class_="rankings-block__banner--name")
first_player.text

'Babar Azam'

In [6]:
player=[]
player.append(first_player.text)
for i in soup.find_all('td',class_="table-body__cell name"):
    player.append(i.text.replace("\n",""))

player[:10]

['Babar Azam',
 'Imam-ul-Haq',
 'Virat Kohli',
 'Rohit Sharma',
 'Quinton de Kock',
 'Ross Taylor',
 'Rassie van der Dussen',
 'Jonny Bairstow',
 'David Warner',
 'Shai Hope']

In [7]:
first_team=soup.find('div',class_="rankings-block__banner--nationality")
y=first_team.text.split(" ")[0]
y

'\n\nPAK\n'

In [16]:
team=[]
team.append(first_team.text)
for i in soup.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)
    
team[:10]

['\n\nPAK\n                            892\n',
 'PAK',
 'IND',
 'IND',
 'SA',
 'NZ',
 'SA',
 'ENG',
 'AUS',
 'WI']

In [9]:
first_rating=soup.find('div',class_="rankings-block__banner--rating")
f=first_rating.text
f

'892'

In [12]:
rating=[]
rating.append(f)
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating.append(i.text)
rating[:10]

['892', '815', '811', '791', '789', '775', '769', '752', '737', '718']

In [14]:
import pandas as pd
df=pd.DataFrame({'player':player,'team':team,'Rating':rating})
df[:10]

                  player                                        team Rating
0             Babar Azam  \n\nPAK\n                            892\n    892
1            Imam-ul-Haq                                         PAK    815
2            Virat Kohli                                         IND    811
3           Rohit Sharma                                         IND    791
4        Quinton de Kock                                          SA    789
5            Ross Taylor                                          NZ    775
6  Rassie van der Dussen                                          SA    769
7         Jonny Bairstow                                         ENG    752
8           David Warner                                         AUS    737
9              Shai Hope                                          WI    718

# Top 10 ODI bowlers

In [17]:
from bs4 import BeautifulSoup
import requests

In [18]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
page

In [19]:
soup=BeautifulSoup(page.content)

In [4]:
first_player1=[]
for i in soup.find_all('div',class_="rankings-block__banner--name"):
    first_player1.append(i.text)

fp=first_player1[1:2]
fp

['Trent Boult']

In [5]:
players=[]


for i in soup.find_all("td",class_="table-body__cell name"):# players name

        players.append(i.text.replace("\n",""))

players.insert(9,fp)
players[9:19]

[['Trent Boult'],
 'Matt Henry',
 'Shaheen Afridi',
 'Chris Woakes',
 'Jasprit Bumrah',
 'Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Mehedi Hasan',
 'Mohammad Nabi',
 'Shakib Al Hasan']

# Top 10 ODI teams women

In [20]:
from bs4 import BeautifulSoup
import requests

In [21]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page

In [22]:
soup=BeautifulSoup(page.content)

In [25]:
country=[]

for i in soup.find_all('span',class_="u-hide-phablet"):
    
     country.append(i.text)
    
country[:10]

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Pakistan',
 'Sri Lanka',
 'Ireland']

In [26]:
match=soup.find('td',class_="rankings-block__banner--matches")
match.text

'29'

In [27]:
point=soup.find('td',class_="rankings-block__banner--points")
point.text

'4,837'

In [28]:

matches=[]
matches.append(match.text)
matches.append(point.text)
for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    
    matches.append(i.text)
    
    
matches[0:20]

['29',
 '4,837',
 '32',
 '3,949',
 '30',
 '3,531',
 '29',
 '2,889',
 '31',
 '3,019',
 '30',
 '2,768',
 '12',
 '930',
 '30',
 '1,962',
 '8',
 '384',
 '8',
 '351']

In [29]:
first_rating=soup.find('td',class_="rankings-block__banner--rating u-text-right")
first_rating.text.replace("\n","")

'                            167                            '

In [30]:
rating=[]
rating.append(first_rating.text.replace("\n",""))
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating.append(i.text)
    
rating[:10]

['                            167                            ',
 '123',
 '118',
 '100',
 '97',
 '92',
 '78',
 '65',
 '48',
 '44']

# Top 10 women’s ODI Batting

In [23]:
from bs4 import BeautifulSoup
import requests

In [24]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")
page

In [25]:
soup=BeautifulSoup(page.content)

In [35]:
first_player=soup.find('div',class_="rankings-block__banner--name")
first_player.text

'Alyssa Healy'

In [36]:
player=[]
player.append(first_player.text)
for i in soup.find_all('td',class_="table-body__cell name"):
    player.append(i.text.replace("\n",""))

player[:10]

['Alyssa Healy',
 'Natalie Sciver',
 'Beth Mooney',
 'Laura Wolvaardt',
 'Meg Lanning',
 'Rachael Haynes',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Tammy Beaumont',
 'Ellyse Perry']

In [37]:
first_team=soup.find('div',class_="rankings-block__banner--nationality")
y=first_team.text.split(" ")[0]
y

'\n\nAUS\n'

In [38]:
team=[]
team.append(first_team.text)
for i in soup.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)
    
team[:10]

['\n\nAUS\n                            785\n',
 'ENG',
 'AUS',
 'SA',
 'AUS',
 'AUS',
 'NZ',
 'IND',
 'ENG',
 'AUS']

In [39]:

first_rating=soup.find('div',class_="rankings-block__banner--rating")
f=first_rating.text
f

'785'

In [40]:

rating=[]
rating.append(f)
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating.append(i.text)
rating[:10]

['785', '750', '748', '713', '710', '701', '681', '669', '659', '642']

In [41]:
import pandas as pd
df=pd.DataFrame({'player':player,'team':team,'Rating':rating})
df[:10]

              player                                        team Rating
0       Alyssa Healy  \n\nAUS\n                            785\n    785
1     Natalie Sciver                                         ENG    750
2        Beth Mooney                                         AUS    748
3    Laura Wolvaardt                                          SA    713
4        Meg Lanning                                         AUS    710
5     Rachael Haynes                                         AUS    701
6  Amy Satterthwaite                                          NZ    681
7    Smriti Mandhana                                         IND    669
8     Tammy Beaumont                                         ENG    659
9       Ellyse Perry                                         AUS    642

# CNBC NEWS

In [26]:
from bs4 import BeautifulSoup
import requests

In [27]:
page=requests.get('https://www.cnbc.com/world/?region=world')
page

In [28]:
soup=BeautifulSoup(page.content)

In [111]:
headline=[]

for i in soup.find_all('a',class_="LatestNews-headline"):
    headline.append(i.text.replace("Ago",""))
    
headline

['Nio can rebound in second half on a strong product pipeline, Morgan Stanley says',
 'Bitcoin falls below $19,000 again as pressure mounts on crypto firms',
 'Buy the Warner Bros. Discovery dip as shares can nearly double, Benchmark says',
 'North Korea is likely culprit behind $100 million crypto heist, researchers say',
 'French oil major ramps up discount on gasoline prices for millions of motorists',
 "China's Xi arrives in Hong Kong in his first trip off the mainland since the onset of the pandemic",
 'Treasury yields nudge lower as market participants track economic data',
 'Singapore’s unemployment has dropped close to pre-Covid levels, minister says',
 "'Everything was going fine between us' Putin says of NATO expansion; Russian forces withdraw from Snake Island",
 'In China, more and more people want to save money as job worries grow',
 'Coinbase seeks licenses in Europe as it looks to ramp up growth outside the U.S.',
 "Here's what's hot — and what's not — in fintech right now",
 "Europe markets decline as recession concerns persist; Germany's Uniper down 14%",
 'Grayscale sues SEC after rejection of bid to turn largest bitcoin fund into ETF',
 'China continues to snap up Russian coal at steep discounts',
 'Goldman says buy these global stocks to play a $900 billion EV opportunity',
 'China Shenzhen stocks rise as data shows factory activity grew; Asia stocks slip',
 "Cramer's lightning round: I prefer Deere over Nutrien right here",
 'Cramer warns investors not to group all stocks of the same sector together ',
 "Cramer: Charts suggest the recent commodities boom 'is not long for the world'",
 'Palantir CEO Alex Karp on fighting with Peter Thiel and progressives ',
 'Spirit delays merger shareholder vote before meeting to continue deal talks ',
 "Pinterest improving boards to help people ‘take more action,' new CEO Ready says",
 'Best trades on CNBC Wednesday: Find bargains among megacap tech stocks',
 'Stock futures fall as S&P 500 tracks for worst first half since 1970',
 "Judge lifts Trump's contempt order in New York civil probe",
 "CoinFlex probably won't resume withdrawals Thursday as planned, says CEO",
 'Amazon wants us to believe the robots are coming. But how useful will they be?',
 'RH shares slide after company lowers its outlook for the year',
 'This former financial advisor now educates advisors on crypto']

In [112]:
time=[]
for i in soup.find_all('time',class_="LatestNews-timestamp"):
    time.append(i.text)
    
time

['20 Min Ago',
 '27 Min Ago',
 '43 Min Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '3 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '5 Hours Ago',
 '6 Hours Ago',
 '6 Hours Ago',
 '6 Hours Ago',
 '7 Hours Ago',
 '10 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '12 Hours Ago',
 '12 Hours Ago',
 '12 Hours Ago',
 '12 Hours Ago',
 '12 Hours Ago',
 '12 Hours Ago',
 '13 Hours Ago',
 '13 Hours Ago',
 '14 Hours Ago',
 '14 Hours Ago',
 '14 Hours Ago',
 '15 Hours Ago',
 '15 Hours Ago']

In [116]:
news_link=[]
for i in soup.find_all('li',class_="LatestNews-item"):
    news_link.append(i.find("a")['href'])
    
news_link

['/pro/',
 'https://www.cnbc.com/2022/06/30/bitcoin-falls-below-19000-again-as-pressure-mounts-on-crypto-firms.html',
 '/pro/',
 'https://www.cnbc.com/2022/06/30/north-korea-likely-behind-100-million-horizon-crypto-hack-experts.html',
 'https://www.cnbc.com/2022/06/30/oil-major-totalenergies-to-provide-fuel-discount-at-highway-stations.html',
 'https://www.cnbc.com/2022/06/30/chinas-xi-arrives-in-hong-kong-in-first-trip-off-mainland-since-pandemic.html',
 'https://www.cnbc.com/2022/06/30/us-bonds-treasury-yields-in-focus-amid-economic-data-auctions.html',
 'https://www.cnbc.com/2022/06/30/singapores-unemployment-close-to-pre-covid-levels-says-minister.html',
 'https://www.cnbc.com/2022/06/30/russia-ukraine-live-updates.html',
 'https://www.cnbc.com/2022/06/30/pboc-chinese-plans-to-save-hit-a-record-high-in-q2-job-concerns-rise.html',
 'https://www.cnbc.com/2022/06/30/coinbase-seeks-europe-licenses-in-bid-to-expand-growth-outside-us.html',
 'https://www.cnbc.com/2022/06/30/heres-whats-hot-and-whats-not-in-fintech-right-now.html',
 'https://www.cnbc.com/2022/06/30/european-markets-open-to-close-as-recession-concerns-persist.html',
 'https://www.cnbc.com/2022/06/30/grayscale-sues-sec-after-rejected-bid-to-turn-bitcoin-fund-into-etf.html',
 'https://www.cnbc.com/2022/06/30/china-snaps-up-russian-coal-at-deep-discounts-as-ukraine-war-continues.html',
 '/pro/',
 'https://www.cnbc.com/2022/06/30/asia-markets-china-pmi-data-stocks-currencies-oil.html',
 'https://www.cnbc.com/2022/06/29/cramers-lightning-round-i-prefer-deere-over-nutrien-right-here.html',
 'https://www.cnbc.com/2022/06/29/cramer-warns-investors-not-to-group-all-stocks-of-the-same-sector-together-no-two-stocks-are-truly-alike.html',
 'https://www.cnbc.com/2022/06/29/cramer-charts-suggest-recent-commodities-boom-will-come-down-long-term.html',
 'https://www.cnbc.com/2022/06/29/palantir-ceo-karp-on-fighting-with-peter-thiel-and-progressives.html',
 'https://www.cnbc.com/2022/06/29/spirit-airlines-delays-shareholder-vote-on-frontier-deal-to-july-8.html',
 'https://www.cnbc.com/2022/06/29/pinterest-improving-boards-to-help-people-take-more-action-ceo-says.html',
 '/pro/',
 'https://www.cnbc.com/2022/06/29/stock-market-futures-open-to-close-news.html',
 'https://www.cnbc.com/2022/06/29/judge-lifts-trump-contempt-order-in-new-york-civil-probe.html',
 'https://www.cnbc.com/2022/06/29/coinflex-ceo-unlikely-to-resume-withdrawals-thursday.html',
 'https://www.cnbc.com/2022/06/29/amazon-remars-robots-are-here-but-they-still-cant-do-much.html',
 'https://www.cnbc.com/2022/06/29/rh-shares-slide-after-company-lowers-its-outlook-for-the-year.html',
 'https://www.cnbc.com/2022/06/29/this-former-financial-advisor-now-educates-advisors-on-crypto.html']

In [117]:
print(len(news_link),len(time),len(headline))

30 30 30

In [120]:
import pandas as pd
df=pd.DataFrame({'Headline':headline,'Time':time,'NEWS LINK':news_link})
df

,Headline,Time,NEWS LINK
0,Nio can rebound in second half on a strong pro...,20 Min Ago,/pro/
1,"Bitcoin falls below $19,000 again as pressure ...",27 Min Ago,https://www.cnbc.com/2022/06/30/bitcoin-falls-...
2,Buy the Warner Bros. Discovery dip as shares c...,43 Min Ago,/pro/
3,North Korea is likely culprit behind $100 mill...,2 Hours Ago,https://www.cnbc.com/2022/06/30/north-korea-li...
4,French oil major ramps up discount on gasoline...,2 Hours Ago,https://www.cnbc.com/2022/06/30/oil-major-tota...
5,China's Xi arrives in Hong Kong in his first t...,3 Hours Ago,https://www.cnbc.com/2022/06/30/chinas-xi-arri...
6,Treasury yields nudge lower as market particip...,4 Hours Ago,https://www.cnbc.com/2022/06/30/us-bonds-treas...
7,Singapore’s unemployment has dropped close to ...,4 Hours Ago,https://www.cnbc.com/2022/06/30/singapores-une...
8,'Everything was going fine between us' Putin s...,4 Hours Ago,https://www.cnbc.com/2022/06/30/russia-ukraine...
9,"In China, more and more people want to save mo...",5 Hours Ago,https://www.cnbc.com/2022/06/30/pboc-chinese-p...
10,Coinbase seeks licenses in Europe as it looks ...,6 Hours Ago,https://www.cnbc.com/2022/06/30/coinbase-seeks...
11,Here's what's hot — and what's not — in fintec...,6 Hours Ago,https://www.cnbc.com/2022/06/30/heres-whats-ho...
12,Europe markets decline as recession concerns p...,6 Hours Ago,https://www.cnbc.com/2022/06/30/european-marke...
13,Grayscale sues SEC after rejection of bid to t...,7 Hours Ago,https://www.cnbc.com/2022/06/30/grayscale-sues...
14,China continues to snap up Russian coal at ste...,10 Hours Ago,https://www.cnbc.com/2022/06/30/china-snaps-up...
15,Goldman says buy these global stocks to play a...,11 Hours Ago,/pro/
16,China Shenzhen stocks rise as data shows facto...,11 Hours Ago,https://www.cnbc.com/2022/06/30/asia-markets-c...
17,Cramer's lightning round: I prefer Deere over ...,12 Hours Ago,https://www.cnbc.com/2022/06/29/cramers-lightn...
18,Cramer warns investors not to group all stocks...,12 Hours Ago,https://www.cnbc.com/2022/06/29/cramer-warns-i...
19,Cramer: Charts suggest the recent commodities ...,12 Hours Ago,https://www.cnbc.com/2022/06/29/cramer-charts-...
20,Palantir CEO Alex Karp on fighting with Peter ...,12 Hours Ago,https://www.cnbc.com/2022/06/29/palantir-ceo-k...
21,Spirit delays merger shareholder vote before m...,12 Hours Ago,https://www.cnbc.com/2022/06/29/spirit-airline...
22,Pinterest improving boards to help people ‘tak...,12 Hours Ago,https://www.cnbc.com/2022/06/29/pinterest-impr...
23,Best trades on CNBC Wednesday: Find bargains a...,13 Hours Ago,/pro/
24,Stock futures fall as S&P 500 tracks for worst...,13 Hours Ago,https://www.cnbc.com/2022/06/29/stock-market-f...
25,Judge lifts Trump's contempt order in New York...,14 Hours Ago,https://www.cnbc.com/2022/06/29/judge-lifts-tr...
26,CoinFlex probably won't resume withdrawals Thu...,14 Hours Ago,https://www.cnbc.com/2022/06/29/coinflex-ceo-u...
27,Amazon wants us to believe the robots are comi...,14 Hours Ago,https://www.cnbc.com/2022/06/29/amazon-remars-...
28,RH shares slide after company lowers its outlo...,15 Hours Ago,https://www.cnbc.com/2022/06/29/rh-shares-slid...
29,This former financial advisor now educates adv...,15 Hours Ago,https://www.cnbc.com/2022/06/29/this-former-fi...

# MOST DOWNLOADED ARTICLE

In [29]:
from bs4 import BeautifulSoup
import requests

In [31]:
page=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')

In [32]:
page

In [33]:
soup=BeautifulSoup(page.content)

In [5]:
paper_title=[]

for i in soup.find_all('h2',class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    paper_title.append(i.text)
    
paper_title

['Reward is enough',
 'Making sense of raw input',
 'Law and logic: A review from an argumentation perspective',
 'Creativity and artificial intelligence',
 'Artificial cognition for social human–robot interaction: An implementation',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Making sense of sensory input',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'The Hanabi challenge: A new frontier for AI research',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Argumentation in artificial intelligence',
 'Algorithms for computing strategies in two-player simultaneous move games',
 'Multiple object tracking: A literature review',
 'Selection of relevant features and examples in machine learning',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'Integrating social power into the decision-making of cognitive agents',
 "“That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems",
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'Algorithm runtime prediction: Methods & evaluation',
 'Wrappers for feature subset selection',
 'Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics',
 'Quantum computation, quantum theory and AI']

In [6]:
authors=[]

for i in soup.find_all('span',class_="sc-1w3fpd7-0 pgLAT"):
    authors.append(i.text)
    
authors

['Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. ',
 'Evans, Richard, Bošnjak, Matko and 5 more',
 'Prakken, Henry, Sartor, Giovanni ',
 'Boden, Margaret A. ',
 'Lemaignan, Séverin, Warnier, Mathieu and 3 more',
 'Miller, Tim ',
 'Evans, Richard, Hernández-Orallo, José and 3 more',
 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R. ',
 'Sutton, Richard S., Precup, Doina, Singh, Satinder ',
 'Bard, Nolan, Foerster, Jakob N. and 13 more',
 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark ',
 'Bench-Capon, T.J.M., Dunne, Paul E. ',
 'Bošanský, Branislav, Lisý, Viliam and 3 more',
 'Luo, Wenhan, Xing, Junliang and 4 more',
 'Blum, Avrim L., Langley, Pat ',
 'Arora, Saurabh, Doshi, Prashant ',
 'Aas, Kjersti, Jullum, Martin, Løland, Anders ',
 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes ',
 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A. ',
 'Riveiro, Maria, Thill, Serge ',
 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T. ',
 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin ',
 'Kohavi, Ron, John, George H. ',
 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna ',
 'Ying, Mingsheng ']

In [8]:
publish_date=[]

for i in soup.find_all('span',class_="sc-1thf9ly-2 bKddwo"):
    publish_date.append(i.text)
    
publish_date

['October 2021',
 'October 2021',
 'October 2015',
 'August 1998',
 'June 2017',
 'February 2019',
 'April 2021',
 'February 2015',
 'August 1999',
 'March 2020',
 'February 2021',
 'October 2007',
 'August 2016',
 'April 2021',
 'December 1997',
 'August 2021',
 'September 2021',
 'June 2021',
 'December 2016',
 'September 2021',
 'May 2021',
 'January 2014',
 'December 1997',
 'October 2021',
 'February 2010']

In [13]:
url=[]

for i in soup.find_all('a',class_="sc-5smygv-0 nrDZj"):
    url.append(i['href'])
    
url

['https://www.sciencedirect.com/science/article/pii/S0004370221000862',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000722',
 'https://www.sciencedirect.com/science/article/pii/S0004370215000910',
 'https://www.sciencedirect.com/science/article/pii/S0004370298000551',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300790',
 'https://www.sciencedirect.com/science/article/pii/S0004370218305988',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301855',
 'https://www.sciencedirect.com/science/article/pii/S0004370214001386',
 'https://www.sciencedirect.com/science/article/pii/S0004370299000521',
 'https://www.sciencedirect.com/science/article/pii/S0004370219300116',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301533',
 'https://www.sciencedirect.com/science/article/pii/S0004370207000793',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300285',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301958',
 'https://www.sciencedirect.com/science/article/pii/S0004370297000635',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000515',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000539',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000096',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300868',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000588',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000102',
 'https://www.sciencedirect.com/science/article/pii/S0004370213001082',
 'https://www.sciencedirect.com/science/article/pii/S000437029700043X',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000734',
 'https://www.sciencedirect.com/science/article/pii/S0004370209001398']

In [14]:
print(len(paper_title),len(authors),len(publish_date),len(url))

25 25 25 25

In [15]:
import pandas as pd
df=pd.DataFrame({'Paper Title':paper_title,'Authors':authors,'Published Date':publish_date,'Paper URL':url})
df

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# DINE OUT

In [34]:
from bs4 import BeautifulSoup
import requests

In [35]:
page=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
page

In [36]:
soup=BeautifulSoup(page.content)

In [124]:
r_name=[]

for i in soup.find_all('div',class_="restnt-info cursor"):
    
    r_name.append(i.text)

r_name

['Castle BarbequeConnaught Place, Central Delhi',
 'Jungle Jamboree3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Castle BarbequePacific Mall,Tagore Garden, West Delhi',
 'Cafe KnoshThe Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'The Barbeque CompanyGardens Galleria,Sector 38A, Noida',
 'India GrillHilton Garden Inn,Saket, South Delhi',
 'Delhi BarbequeTaurus Sarovar Portico,Mahipalpur, South Delhi',
 'The Monarch - Bar Be Que VillageIndirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'World CafeVibe by The Lalit Traveller,Sector 35, Faridabad',
 'Indian Grill RoomSuncity Business Tower,Golf Course Road, Gurgaon',
 'Mad 4 Bar B QueSector 29, Faridabad',
 'Barbeque 29NIT, Faridabad',
 'GlasshouseDoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

In [130]:
cuisine=[]

#for i in soup.find_all('span',class_="more"):
 #   cuisine.append(i.find_all("a").text)
for i in soup.find_all("span", class_="double-line-ellipsis"):

    cuisine.append(i.text.split('|')[1])  
cuisine

[' North Indian, Chinese',
 ' North Indian, Asian, Italian',
 ' Chinese, North Indian',
 ' Italian, Continental',
 ' North Indian, Chinese',
 ' North Indian, Italian',
 ' North Indian',
 ' North Indian',
 ' North Indian, Italian',
 ' North Indian, Mughlai',
 ' North Indian',
 ' North Indian, Mughlai, Desserts, Beverages',
 ' European, Italian, Asian, Continental']

In [126]:
location=[]

for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text)
    
location

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Vibe by The Lalit Traveller,Sector 35, Faridabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon',
 'Sector 29, Faridabad',
 'NIT, Faridabad',
 'DoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

In [133]:
rating=[]
for i in soup.find_all('div',class_="restnt-rating rating-4"):
    rating.append(i.text)
    
rating

['3.5',
 '3.9',
 '3.9',
 '4.3',
 '4',
 '3.9',
 '3.7',
 '3.8',
 '4.3',
 '4.3',
 '3.6',
 '4.2',
 '4']

In [132]:
images=[]
for i in soup.find_all('img',class_="no-img"):
    images.append(i['data-src'])
    
images

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/h/c/p3643-144497865356209fdd65746.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/v/f/p52501-16006856545f68865616659.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/p/y/p12366-1466935020576fa6ecdc359.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/n/t/p43488-1647323111623027e763947.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/w/r/p58842-15624171585d209806d9143.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/m/a/p9875-1645177960620f6c68ecfef.jpg?tr=tr:n-medium']

In [135]:
import pandas as pd
df=pd.DataFrame({'Restuarant name ':r_name,'Location':location,'cuisine':cuisine,'Rating':rating,'Images':images})
df

,Restuarant name,Location,cuisine,Rating,Images
0,"Castle BarbequeConnaught Place, Central Delhi","Connaught Place, Central Delhi","North Indian, Chinese",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,"Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sout...","3CS Mall,Lajpat Nagar - 3, South Delhi","North Indian, Asian, Italian",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,"Castle BarbequePacific Mall,Tagore Garden, Wes...","Pacific Mall,Tagore Garden, West Delhi","Chinese, North Indian",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,"Cafe KnoshThe Leela Ambience Convention Hotel,...","The Leela Ambience Convention Hotel,Shahdara, ...","Italian, Continental",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,"The Barbeque CompanyGardens Galleria,Sector 38...","Gardens Galleria,Sector 38A, Noida","North Indian, Chinese",4,https://im1.dineout.co.in/images/uploads/resta...
5,"India GrillHilton Garden Inn,Saket, South Delhi","Hilton Garden Inn,Saket, South Delhi","North Indian, Italian",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","Taurus Sarovar Portico,Mahipalpur, South Delhi",North Indian,3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",North Indian,3.8,https://im1.dineout.co.in/images/uploads/resta...
8,"World CafeVibe by The Lalit Traveller,Sector 3...","Vibe by The Lalit Traveller,Sector 35, Faridabad","North Indian, Italian",4.3,https://im1.dineout.co.in/images/uploads/resta...
9,"Indian Grill RoomSuncity Business Tower,Golf C...","Suncity Business Tower,Golf Course Road, Gurgaon","North Indian, Mughlai",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,"Mad 4 Bar B QueSector 29, Faridabad","Sector 29, Faridabad",North Indian,3.6,https://im1.dineout.co.in/images/uploads/resta...
11,"Barbeque 29NIT, Faridabad","NIT, Faridabad","North Indian, Mughlai, Desserts, Beverages",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,GlasshouseDoubleTree By Hilton Gurugram Baani ...,"DoubleTree By Hilton Gurugram Baani Square,Sec...","European, Italian, Asian, Continental",4,https://im1.dineout.co.in/images/uploads/resta...

# GOOGLE SCHOLAR

In [37]:
from bs4 import BeautifulSoup
import requests

In [38]:
page=requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')
page

In [39]:
soup=BeautifulSoup(page.content)

In [30]:
rank=[]
for i in soup.find_all('td',class_="gsc_mvt_p"):
    rank.append(i.text)
    
rank

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.',
 '31.',
 '32.',
 '33.',
 '34.',
 '35.',
 '36.',
 '37.',
 '38.',
 '39.',
 '40.',
 '41.',
 '42.',
 '43.',
 '44.',
 '45.',
 '46.',
 '47.',
 '48.',
 '49.',
 '50.',
 '51.',
 '52.',
 '53.',
 '54.',
 '55.',
 '56.',
 '57.',
 '58.',
 '59.',
 '60.',
 '61.',
 '62.',
 '63.',
 '64.',
 '65.',
 '66.',
 '67.',
 '68.',
 '69.',
 '70.',
 '71.',
 '72.',
 '73.',
 '74.',
 '75.',
 '76.',
 '77.',
 '78.',
 '79.',
 '80.',
 '81.',
 '82.',
 '83.',
 '84.',
 '85.',
 '86.',
 '87.',
 '88.',
 '89.',
 '90.',
 '91.',
 '92.',
 '93.',
 '94.',
 '95.',
 '96.',
 '97.',
 '98.',
 '99.',
 '100.']

In [32]:
publication=[]
for i in soup.find_all('td',class_="gsc_mvt_t"):
    publication.append(i.text)

publication

['Nature',
 'The New England Journal of Medicine',
 'Science',
 'IEEE/CVF Conference on Computer Vision and Pattern Recognition',
 'The Lancet',
 'Advanced Materials',
 'Nature Communications',
 'Cell',
 'International Conference on Learning Representations',
 'Neural Information Processing Systems',
 'JAMA',
 'Chemical Reviews',
 'Proceedings of the National Academy of Sciences',
 'Angewandte Chemie',
 'Chemical Society Reviews',
 'Journal of the American Chemical Society',
 'IEEE/CVF International Conference on Computer Vision',
 'Nucleic Acids Research',
 'International Conference on Machine Learning',
 'Nature Medicine',
 'Renewable and Sustainable Energy Reviews',
 'Science of The Total Environment',
 'Advanced Energy Materials',
 'Journal of Clinical Oncology',
 'ACS Nano',
 'Journal of Cleaner Production',
 'Advanced Functional Materials',
 'Physical Review Letters',
 'Scientific Reports',
 'The Lancet Oncology',
 'Energy & Environmental Science',
 'IEEE Access',
 'PLoS ONE',
 'Science Advances',
 'Journal of the American College of Cardiology',
 'Applied Catalysis B: Environmental',
 'Nature Genetics',
 'BMJ',
 'Circulation',
 'European Conference on Computer Vision',
 'International Journal of Molecular Sciences',
 'Nature Materials',
 'Chemical engineering journal',
 'AAAI Conference on Artificial Intelligence',
 'Journal of Materials Chemistry A',
 'ACS Applied Materials & Interfaces',
 'Nature Biotechnology',
 'The Lancet Infectious Diseases',
 'Frontiers in Immunology',
 'Applied Energy',
 'Nano Energy',
 'Nature Energy',
 'Meeting of the Association for Computational Linguistics (ACL)',
 'The Astrophysical Journal',
 'Gastroenterology',
 'Nature Methods',
 'IEEE Transactions on Pattern Analysis and Machine Intelligence',
 'Cochrane Database of Systematic Reviews',
 'Blood',
 'Neuron',
 'Nano Letters',
 'Morbidity and Mortality Weekly Report',
 'European Heart Journal',
 'Nature Nanotechnology',
 'ACS Catalysis',
 'Nature Neuroscience',
 'American Economic Review',
 'Journal of High Energy Physics',
 'IEEE Communications Surveys & Tutorials',
 'Annals of Oncology',
 'Nutrients',
 'Accounts of Chemical Research',
 'Immunity',
 'Environmental Science & Technology',
 'Nature Reviews. Molecular Cell Biology',
 'Gut',
 'Physical Review D',
 'ACS Energy Letters',
 'Monthly Notices of the Royal Astronomical Society',
 'Conference on Empirical Methods in Natural Language Processing (EMNLP)',
 'Clinical Infectious Diseases',
 'Cell Metabolism',
 'Nature Reviews Immunology',
 'Joule',
 'Nature Photonics',
 'International Journal of Environmental Research and Public Health',
 'Environmental Pollution',
 'Computers in Human Behavior',
 'Frontiers in Microbiology',
 'Nature Physics',
 'Small',
 'Cell Reports',
 'Molecular Cell',
 'Clinical Cancer Research',
 'Bioresource Technology',
 'Journal of Business Research',
 'Molecular Cancer',
 'Sensors',
 'Nature Climate Change',
 'IEEE Internet of Things Journal']

In [34]:
 h5index=[]
for i in soup.find_all('a',class_="gs_ibl gsc_mp_anchor"):
     h5index.append(i.text)
        
h5index

['444',
 '432',
 '401',
 '389',
 '354',
 '312',
 '307',
 '300',
 '286',
 '278',
 '267',
 '265',
 '256',
 '245',
 '244',
 '242',
 '239',
 '238',
 '237',
 '235',
 '227',
 '225',
 '220',
 '213',
 '211',
 '211',
 '210',
 '207',
 '206',
 '202',
 '202',
 '200',
 '198',
 '197',
 '195',
 '192',
 '191',
 '190',
 '189',
 '186',
 '183',
 '181',
 '181',
 '180',
 '178',
 '177',
 '175',
 '173',
 '173',
 '173',
 '172',
 '170',
 '169',
 '167',
 '166',
 '165',
 '165',
 '165',
 '165',
 '164',
 '164',
 '163',
 '163',
 '163',
 '163',
 '162',
 '160',
 '160',
 '159',
 '159',
 '159',
 '159',
 '158',
 '158',
 '155',
 '155',
 '155',
 '155',
 '155',
 '154',
 '153',
 '153',
 '152',
 '152',
 '152',
 '152',
 '152',
 '152',
 '151',
 '151',
 '150',
 '149',
 '149',
 '146',
 '146',
 '145',
 '145',
 '145',
 '144',
 '144']

In [35]:
h5median=[]
for i in soup.find_all('span',class_="gs_ibl gsc_mp_anchor"):
    h5median.append(i.text)
    
h5median

['667',
 '780',
 '614',
 '627',
 '635',
 '418',
 '428',
 '505',
 '533',
 '436',
 '425',
 '444',
 '364',
 '332',
 '386',
 '344',
 '415',
 '550',
 '421',
 '389',
 '324',
 '311',
 '300',
 '315',
 '277',
 '273',
 '280',
 '294',
 '274',
 '329',
 '290',
 '303',
 '278',
 '294',
 '276',
 '246',
 '297',
 '307',
 '301',
 '321',
 '253',
 '265',
 '224',
 '296',
 '220',
 '223',
 '315',
 '296',
 '228',
 '217',
 '232',
 '314',
 '304',
 '234',
 '254',
 '296',
 '293',
 '243',
 '229',
 '231',
 '207',
 '302',
 '265',
 '264',
 '220',
 '248',
 '263',
 '220',
 '304',
 '243',
 '214',
 '211',
 '242',
 '214',
 '340',
 '235',
 '217',
 '212',
 '194',
 '249',
 '278',
 '211',
 '292',
 '233',
 '228',
 '225',
 '222',
 '214',
 '225',
 '222',
 '196',
 '205',
 '202',
 '201',
 '190',
 '233',
 '209',
 '201',
 '228',
 '212']

In [36]:
import pandas as pd
df=pd.DataFrame({'Rank':rank,'Publication':publication,'h5-index':h5index,'h5-median':h5median})
df

    Rank                                        Publication h5-index h5-median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]